[2019-08-21 15:30] dselman opened #2 "Some CommonMark spec examples do not roundtrip"
The test is currently skipped here:
https://github.com/accordproject/markdown-transform/blob/master/src/CommonMark.test.js#L149

[2019-09-16 13:59] irmerk opened #16 "CONTRIBUTING file"
## Tasks
- Create information files for contributors

## Related Issues:
- [Cicero UI Issue 37](https://github.com/accordproject/cicero-ui/issues/37)

[2019-09-16 14:00] irmerk opened #17 "DEVELOPERS file"
## Tasks
- Create information files for developers

## Related Issues:
- [Cicero UI Issue 37](https://github.com/accordproject/cicero-ui/issues/37)

[2019-09-16 14:02] irmerk opened #18 "AP Documentation Sync"
## Tasks
- Create charter file
- Ensure layout and structure of README is consistent with other AP repos

## Related Issues:
- [Cicero UI Issue 65](https://github.com/accordproject/cicero-ui/issues/65)

[2019-09-16 14:12] irmerk opened #19 "Mono-Repo Documentation"
## Tasks
- Ensure the main `README` captures the overall structure of the monorepo
- Ensure layout and structure of `README` is consistent with other AP repos
- Relevant information:
  - Markdown Transform
    - CommonmarkParser converts markdown text to an instance of the CommonMark AST
    - CommonmarkToString converts an AST to a markdown string
  - Slate Markdown Transform
    - The Cicero DOM

[2019-09-16 14:15] irmerk opened #20 "Release Notes (v0.20 Project)"
## Tasks
- This will track and construct the overall release notes for this repo in relation to the `v0.20` project
  - Will cover everything from the inception of this repo

## Related Issues:
- N/A

[2019-09-17 17:28] jeromesimeon opened #21 "Slate to markdown string translation does not work for Clauses"
For instance:
[code]

[2019-09-17 17:33] jeromesimeon opened #22 "CommonMark to markdown string transform should raise errors on standalone items"
`Item` should always be included in `List`, so the following case should be turned into an error:

https://github.com/accordproject/markdown-transform/blob/fe3f0a643770a46f38e970054c1b82e8c4604da7/packages/markdown-common/src/ToStringVisitor.js#L202

[2019-09-17 20:58] jeromesimeon commented on #22
Fixed in #24

[2019-09-17 20:58] #22 closed

[2019-09-17 20:58] jeromesimeon commented on #21
Fixed in #24

[2019-09-17 20:58] #21 closed

[2019-09-27 14:24] jeromesimeon opened #27 "Download CommonMark and CiceroMark models from their published version"
CTO models for CommonMark DOM and CiceroMark DOM are copied in the code here:
https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-common/src/Models.js
and here:
https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-cicero/src/Models.js

Those should be consistent with the officially published version at https://models.accordproject.org

Ins

[2019-09-29 01:50] RanadeepPolavarapu commented on #16
I'll can take this. 🙂

[2019-09-29 01:53] RanadeepPolavarapu commented on #17
I can tackle this.

[2019-09-29 18:15] RanadeepPolavarapu commented on #18
I can take this one.

[2019-09-30 15:32] irmerk commented on #20
# Current Information:

This library utilizes the official Accord Project version of Concerto (`@accordproject/concerto`)

## The project structure:
- **`markdown-common`**: Transformation between Commonmark strings and a Commonmark AST
- **`markdown-cicero`**: Additional transformation between CommonMark AST and an extension for Accord Project's Cicero
- **`markdown-slate`**: Additional transform

[2019-09-30 15:32] irmerk commented on #20
Note that `--roundtrip` and `--generateMarkdown` are similar and could use review.

[2019-09-30 15:39] jeromesimeon commented on #20
There should not be a `--generateMarkdown` anymore

[2019-09-30 15:43] jeromesimeon opened #29 "CLI is broken (missing some dependencies?)"
**Describe the bug**
Installing the Command Line Interface works:
[code]

But trying to run it, you get:
[code]

Most likely some dependencies are missing from the `package.json` in `markdown-cli`.

[2019-09-30 15:48] KL13NT commented on #29
Is anyone on this? I'd love to give it a shot as my first PR!

[2019-09-30 15:49] irmerk commented on #29
All yours!

[2019-09-30 16:04] KL13NT commented on #29
So, it seems that `jsome` is added to the `devDependencies` of 'markdown-common' package that uses it in `Logger.js` instead of `dependencies`, so when installing without the `--dev` flag the package is not actually installed:

![image](https://user-images.githubusercontent.com/20807178/65895925-78147f00-e3ac-11e9-8197-556a85c29fd9.png)

I'd like confirmation for this though as I'm unable to build

[2019-09-30 17:40] irmerk commented on #29
@KL13NT does that solve the mini-issue then? @jeromesimeon and @dselman would know more about this repo.

[2019-09-30 17:45] jeromesimeon commented on #29
That sounds right.

Could you clarify this comment? If you are having trouble installing the `markdown-transform` package locally, we would certainly welcome a new issue on that.

That makes sense, but I think we would want to make sure the dependencies for `markdown-cli` are complete so that users do not have to install additional packages (e.g., `jsome` in this case), by hand.

[2019-09-30 21:45] KL13NT commented on #29
I was referring to building the package using Webpack since it has some configuration in those folders.

And yes, if the package is moved from `devDependencies` to `dependencies` then the issue would probably be solved. Should I PR?

[2019-10-01 11:16] dselman opened #30 "API Refactoring"
Simplify the API, improving naming consistency, update README files to explain the internal architecture.

[2019-10-01 12:06] dselman opened #34 "Variable values are quoted"
**Describe the bug**

When variables are generated the value includes an extra quote (escaped as %22).

[code]

[2019-10-01 12:13] dselman opened #35 "Externalize CTO models"
The Concerto models for CommonMark and CiceroMark should be published to models.accordproject.org and downloaded by the build scripts.

[2019-10-01 12:31] jeromesimeon commented on #35
Duplicate of #27

[2019-10-01 12:31] #35 closed

[2019-10-01 12:42] jeromesimeon commented on #34
Two comments:
- Is that a problem? To be consistent with parsing in Cicero, one would have to re-create the quotes for variables of type `String` but not for others, which is somewhat intricate.
- Isn't this behaviour coming out of Cicero, not markdown-transform? (Also see https://github.com/accordproject/cicero/issues/305)

[2019-10-01 13:05] jeromesimeon commented on #27
It might be a good idea to rename the `markdown.cto` model to `commonmark.cto`, see https://github.com/accordproject/models/issues/51
and in the README in this project.

[2019-10-01 17:49] arshadkazmi42 opened #37 "Broken Link in README"
Link to CiceroMark DOM schema
https://models.accordproject.org/ciceromark/ciceromark.html
is broken

[2019-10-02 14:01] #16 closed

[2019-10-02 14:01] #37 closed

[2019-10-02 14:02] #17 closed

[2019-10-02 14:07] irmerk commented on #18
We'll still want the Accord Project logo centered in the README.

[2019-10-02 15:14] irmerk commented on #29
Closing due to #40.

[2019-10-02 15:14] #29 closed

[2019-10-03 10:08] christyjacob4 commented on #19
Hey @irmerk Please assign me to this

[2019-10-03 16:55] jeromesimeon opened #44 "Slate transform does not roundtrip when the text uses softbreaks"
**Describe the bug**
Translating from markdown to slate and back sometimes introduces additional new lines.

**To Reproduce**

For instance on the attached sample.md:
[sample.txt](https://github.com/accordproject/markdown-transform/files/3687219/sample.txt)

[code]

[2019-10-03 17:01] #30 closed

[2019-10-03 17:37] jeromesimeon opened #45 "Headings following certain kinds of blocks do not roundtrip"
**Describe the bug**
In some cases, headings following certain kinds of blocks are not being rountripped to markdown properly.

[code]

[2019-10-03 18:58] jeromesimeon commented on #45
Fixed in #46

[2019-10-03 18:58] #45 closed

[2019-10-04 19:03] dselman opened #51 "CiceroMark -> PDF transformation"
Implement a transformation (similar to the markdown-html HtmlTransformer) that generates a PDF document from a CiceroMark DOM.

**Describe the solution you'd like**
Implement a visitor using the https://pdfkit.org library, generating paragraphs and formatted text.

**Describe alternatives you've considered**
Tried to fine a lightweight HTML -> PDF library (pure JS) but come up empty.

**Additional

[2019-10-05 14:04] peterhunn commented on #51
Could https://github.com/MrRio/jsPDF (docs: http://raw.githack.com/MrRio/jsPDF/master/docs/) be an option?

[2019-10-06 15:55] dselman opened #55 "Variable values are URI encoded in Slate DOM"
The values of variables are URI encoded in the Slate DOM.

[2019-10-06 20:28] jeromesimeon opened #57 "Remove unneeded encapsulation of Concerto / Concerto Tools"
Markdown Transform use an uncommon idiom of packaging a dependency (`composer-concerto` and `composer-concerto-tools`) to avoid problems with multiple versions of the concerto package.

This can be removed whenever the corresponding issues has been resolved: https://github.com/hyperledger/composer-concerto/issues/47 and

[2019-10-06 20:31] jeromesimeon commented on #57
Fixed in PR #58

[2019-10-06 20:31] #57 closed

[2019-10-08 13:52] hritikgupta commented on #27
Hi @jeromesimeon, I would like to work on this issue. Please assign it to me.

[2019-10-08 20:03] anandprabhakar0507 opened #61 "add a image"
`https://i.ibb.co/XL1d3st/download.png`

![](https://i.ibb.co/XL1d3st/download.png)

[2019-10-08 20:03] #61 closed

[2019-10-08 20:18] anandprabhakar0507 opened #63 "add image"
Hacktoberfest-
![download](https://user-images.githubusercontent.com/34664521/66430059-2ed8b680-e9ce-11e9-8f2e-c5d3baab1673.png)
add image for clone or fork
![](https://i.ibb.co/XL1d3st/download.png)
[or view here](https://i.ibb.co/XL1d3st/download.png)

[2019-10-08 20:20] irmerk commented on #63
I don't think these additions are necessary.

[2019-10-08 20:20] #63 closed

[2019-10-12 17:33] jeromesimeon commented on #19
I would add to this: make sure `README` and/or `DEVELOPPERS` clearly document now to build with lerna. (See also discussion in PR #69 reported by @dlemstra ).

Currently: `README` does not mention lerna bootstrapping, and `DEVELOPPERS` wrongly points to `npm install`.

[2019-10-12 17:46] dagolinuxoid commented on #51
@peterhunn it's a pretty cool pdf generator.

[2019-10-14 08:54] irmerk commented on #19
@christyjacob4 moving this back to being an open issue.

[2019-10-18 05:54] devcer commented on #51
Hey, I would like to take this up. Can you help me get started with this?

[2019-10-18 13:46] irmerk commented on #51
@devcer I believe @dselman would be the best to give you a bit of guidance on this one.

[2019-10-22 15:20] dselman commented on #51
Both `pdfkit` and `jsPDF` look like active projects in widespread use, and both MIT licensed. I don't have a strong preference for one or the other -- as long as they work in a Node.js environment. Having both Node.js and webpage usage would be even better.

I suggest playing with the API and looking at the output and performance and posting back finding here.

[2019-10-23 19:49] DianaLease opened #86 "Method for retrieving full non-variable clause text from a clause node"
**Is your feature request related to a problem? Please describe.**
Because the `clauseText` attribute will be removed from the clause nodes in the concerto AST, I cannot easily obtain the full text of a clause without variable syntax from the markdown string for a contract.

**Describe the solution you'd like**
Method for retrieving non-variable text from a concerto AST clause node. I believe this

[2019-10-24 14:10] jeromesimeon commented on #86
@DianaLease I don't think I was thinking straight last night, and after going down a rabbit's hole for a bit, I realised there is an easy way to get the clause text already:

Instead of going directly from CiceroMark DOM to CommonMark text with:
[code]
Instead generate the CommonMark DOM *then* get the text:
[code]

You should be able to test that. Let me know if it works, and I will then remove t

[2019-10-24 14:28] DianaLease commented on #86
Recapping an outside convo here -
The above proposed solution produces the text but with the variable syntax still present. It would be useful to have a way to pass `{ wrapVariables: false }` as an argument to the `toCommonMark` method, similar to how it can currently be passed to the `toMarkdown` method.

[2019-10-24 14:44] jeromesimeon commented on #86
Adding the call to clarify what to do to get the text _without_ variable tags:

[code]

[2019-10-24 18:34] mbtamuli commented on #18
@irmerk Since this is part of open issue and is currently unassigned, is anything remaining for the docs from the list that you created above.

I can see some have been fixed in https://github.com/accordproject/ergo/pull/688

[2019-10-24 18:43] irmerk commented on #18
Actually no, I'll close this issue.

[2019-10-24 18:43] #18 closed

[2019-10-24 19:35] jeromesimeon commented on #86
I have added a method to encapsulate the clause text extraction:

[code]

This will:
1. regenerate the clause text (with or without wrapped variables)
2. remove single trailing new line due to code blocks encodings in CommonMark
3. raise an exception for non-Clause nodes

[2019-10-24 20:36] jeromesimeon commented on #86
`clauseText` field from CiceroMark has been removed. Will ship with release `0.6.0`

@DianaLease Can we consider this issue resolved?

[2019-10-24 20:41] DianaLease commented on #86
Yes, works for me!

[2019-10-24 20:41] #86 closed

[2019-10-24 22:22] jeromesimeon commented on #19
The `README` documents the structure of the mono-repo and how to build using `lerna`.

[2019-10-24 22:22] #19 closed

[2019-10-24 22:23] jeromesimeon commented on #20
@irmerk We have now a regular release process for this, with release notes. This is already used in the `0.20` release. Can we close?

[2019-10-25 14:01] #20 closed

[2019-10-25 19:42] jeromesimeon commented on #27
@hritikgupta I'm afraid I have to move this issue forward for the coming release, so I'm reassigning it to myself. Apologies if you had already started working on it.

[2019-10-25 21:57] jeromesimeon commented on #27
Completed and merged in #89

[2019-10-25 21:57] #27 closed

[2019-10-26 15:35] jeromesimeon commented on #55
They are also URI encoded in the Cicero DOM, I don't see a good reason for that since the URI encoding is only relevant when those are represented as CommonMark `HtmlInline` blocks.

[2019-10-26 16:14] jeromesimeon opened #94 "Attribute for HTML Inline should *not* decode as URI"
There is no reason why arbitrary HTML inline attributes should be decoded, this is an assumption made only for CiceroMark wrapped variables:

[code]

[2019-10-26 16:15] jeromesimeon commented on #94
Proposed fix:
- Do *not* decode attributes in the CommonMarkTranformer
- Move the decode/encode part in the CiceroMarkTransformer

[2019-10-26 16:44] jeromesimeon commented on #94
Fixed in #93

[2019-10-26 16:44] #94 closed

[2019-10-26 18:54] jeromesimeon opened #96 "Cannot install Markdown Transform 0.7.0"
The latest `0.7.0` does not install due to the structure of the build with the new external model scripts.

[code]

[2019-10-26 18:55] jeromesimeon commented on #96
Fixed in PR #95

[2019-10-26 18:55] #96 closed

[2019-10-28 14:38] jeromesimeon opened #99 "Slate transform for thematic breaks"
**Describe the bug**
The Slate transform turns thematic seems to turn thematic breaks into empty paragraphs.

**To Reproduce**

Here is a simple `test.md`:

[code]

The Cicero DOM looks fine:

[code]

But in the Slate DOM the thematic break has disappeared:
[code]

[2019-10-28 14:39] jeromesimeon commented on #99
Does anyone working on the markdown editor know what the correct Slate DOM should be? (@irmerk @DianaLease @dselman )

[2019-10-28 15:00] jeromesimeon commented on #99
There is a reverse mapping from Slate to CiceroMark which can help since it indicates the kind of Slate block is expected: https://github.com/accordproject/markdown-transform/blob/90cf0cfa38582e9a38029573ad7fddba8470f32c/packages/markdown-slate/src/slateToCiceroMarkDom.js#L70

[2019-10-28 15:01] jeromesimeon commented on #99
The CiceroMark to Slate DOM transform wrongly creates a paragraph here:
https://github.com/accordproject/markdown-transform/blob/90cf0cfa38582e9a38029573ad7fddba8470f32c/packages/markdown-slate/src/ToSlateVisitor.js#L221

[2019-10-28 15:19] jeromesimeon opened #100 "What should be done with linebreaks/softbreaks in Slate transform?"
I'm unclear that this is what should be happening?
https://github.com/accordproject/markdown-transform/blob/90cf0cfa38582e9a38029573ad7fddba8470f32c/packages/markdown-slate/src/ToSlateVisitor.js#L228-L241

[2019-10-28 17:08] jeromesimeon commented on #99
Fix is in, PR #102

I am leaving this issue open until the fix can be tested inside the `markdown-editor`.

[2019-10-28 19:30] irmerk commented on #51
@devcer any progress on this?

[2019-10-29 09:43] parammittal16 opened #105 "typo in the readme file"
**Describe the bug**
typo in the readme file

**To Reproduce**
Steps to reproduce the behavior:

Fix typo in the readme file

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]

[2019-10-29 13:15] jeromesimeon commented on #99
Confirmed working in https://github.com/accordproject/markdown-editor/pull/141

[2019-10-29 13:15] #99 closed

[2019-10-29 13:48] irmerk commented on #105
Can you verify that this typo does not exist in the other main repositories?

[2019-10-29 15:25] #105 closed

[2019-10-30 17:24] jeromesimeon opened #109 "Issues with Lists in Slate Transform"
**Describe the bug**
The slate transform seems to swallow lists in some cases. Here is a sample test.

[list-slate.zip](https://github.com/accordproject/markdown-transform/files/3790312/list-slate.zip)

**update** Markdown to Slate seems to lose any structure except for the first paragraph:
[code]

Which means normalization returns only the top level list:
[code]

This is true of anything which is

[2019-10-30 17:29] jeromesimeon opened #110 "Issues with Nested Lists roundtrip"
**Describe the bug**
Nested lists are drafted with an extra new line, which means tight lists become non-tight.

Here is an example:
[code]

[2019-10-31 14:57] jeromesimeon opened #111 "Markus Dingus!"
**Is your feature request related to a problem? Please describe.**
It's a feature request related to a feature. The idea would be to have a deployed _Dingus_ in the style of https://spec.commonmark.org/dingus/ but for CiceroMark.

**Describe the solution you'd like**
It could be almost exactly like the commonmark dingus but:
1. Left box lets you write CiceroMark
2. Right box shows:
   - Preview

[2019-11-06 15:48] jeromesimeon commented on #44
This issue is most likely related to softbreaks which gets translated into paragraphs. See also https://github.com/accordproject/template-studio-v2/issues/147

[2019-11-06 15:53] dselman commented on #44
I think you are correct: https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-slate/src/ToSlateVisitor.js#L235

[2019-11-06 15:58] jeromesimeon commented on #44
I'm not sure what is the right way to address this. A couple of possible directions:
1. Preserve softbreaks in the Slate DOM and delay the new line creation until rendering (this might be useful if we want to allow users to control that when editing)
2. Turn softbreaks into a new line folded in the enclosing paragraph (a bit like the HTML transform), but that means we need to recover those

As I'm

[2019-11-06 16:00] dselman commented on #44
Yes, I think I like (1) better as well. E.g. is would allow CTRL-ENTER in the editor to insert a softbreak.

FYI, here is what the CommonMark spec says: https://spec.commonmark.org/0.22/#soft-line-breaks

[2019-11-06 16:02] jeromesimeon commented on #44
Yes. That makes sense. @mttrbrts encountered this as well on the HTML side when he looked at pdf rendering, so he may have some thoughts?

[2019-11-07 18:53] dselman commented on #100
Interesting thread on this, including when to use <br/>
https://github.com/ckeditor/ckeditor5/issues/4542

[2019-11-07 19:01] jeromesimeon commented on #100
Note on this thread:
- Line breaks are two spaces followed by a new line within a paragraph
[code]
- Softbreaks are just a new line
[code]

In Dingus:
<img width="1378" alt="Screenshot 2019-11-07 at 2 01 14 PM" src="https://user-images.githubusercontent.com/670099/68418847-155e9200-0167-11ea-9556-7bcef2599095.png">

[2019-11-07 20:02] jeromesimeon commented on #44
This bug was fixed in #113

[code]

[2019-11-07 20:03] #44 closed

[2019-11-08 01:37] dselman commented on #100
Resolved: linebreaks and soft breaks are both represented as inlines in the Slate DOM.

[2019-11-08 01:37] #100 closed

[2019-11-08 01:38] dselman opened #115 "Support for images"
Image support is currently partial. We need all the transforms to support images.

[2019-11-08 01:39] dselman commented on #115
Resolved in https://github.com/accordproject/markdown-transform/commit/5a3a2cf29cf0c066800015775e867b8fbaa78b54

[2019-11-08 01:39] #115 closed

[2019-11-08 01:39] dselman commented on #55
Closing as fixed.

[2019-11-08 01:39] #55 closed

[2019-11-08 01:40] dselman commented on #34
Closing as 'by design".

[2019-11-08 01:40] #34 closed

[2019-11-08 13:43] jeromesimeon opened #116 "Should Markdown Transform depend on Slate at all?"
We aren't using Slate in this package, except on one line:
https://github.com/accordproject/markdown-transform/blob/aa954423b4557e4b2714e13db728761866a60d09/packages/markdown-slate/src/SlateTransformer.js#L54

Unless we decide to validate against a Slate schema, I see little benefit of that additional dependency. We could make that call rely on the Slate JSON representation and let users load to S

[2019-11-08 13:43] jeromesimeon commented on #116
@DianaLease @dselman

[2019-11-08 14:08] DianaLease commented on #116
Interesting. It looks like we are using that `fromCiceroMark` method in `markdown-cli`. Would this change affect anything there? And now that I see that, I'm wondering if that means Slate needs to be a peer dependency of `markdown-cli` since `markdown-cli` depends on `markdown-slate`, or if those peer dependencies get bubbled up.

[2019-11-08 14:16] irmerk opened #117 "Link Title Skip if Null"
**Describe the bug**
A test in `markdown-editor` is failing around the way a link is round-tripped.

[code]
This stems from [this code](https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-slate/src/ToSlateVisitor.js#L246), where the `title` is set to `""` if null.

**Expected behavior**
Probably need to skip this behavior entirely.

**Additional context**
[This commit

[2019-11-08 16:43] jeromesimeon commented on #116
Ouch. Good catch @DianaLease ! This indeed breaks `markdown-cli`

[code]

I would like to make the proposed change and remove the peer dependencies.

[2019-11-08 18:47] jeromesimeon commented on #116
Update on this. All the testing assumes that the Slate document has been normalized / round tripped through real Slate DOM.

That makes me feel less clear that removing the Slate dependency is the right thing to do. I'm leaving this issue open for review and will open a separate PR to fix the `markus` CLI.

[2019-11-08 18:53] jeromesimeon commented on #116
Fix to CLI is in #118

[2019-11-08 19:13] irmerk opened #119 "Markdown Tables Failing to Render"
**Describe the bug**
Tables in markdown are not rendering as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm link` `cicero-ui` (after [this PR](https://github.com/accordproject/cicero-ui/pull/218)) to `template-studio-v2`
2. Open Volume Discount

**Screenshots**
<img width="669" alt="Screen Shot 2019-11-08 at 14 07 31 PM" src="https://user-images.githubusercontent.com/36460856

[2019-11-08 20:27] irmerk opened #120 "Soft Break Error after Hyphen"
**Describe the bug**
Parse error which may result from soft breaks after a hyphen?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [TSv2 Netlify](https://accordproject-studio.netlify.com/)
2. Add `Volumediscountulist` to the contract
3. Click inside the clause
4. See error

**Screenshots**
<img width="1676" alt="Screen Shot 2019-11-08 at 15 00 12 PM" src="https://user-images.github

[2019-11-08 20:41] jeromesimeon commented on #120
We're probably not round-tripping back to markdown if softbreaks are turned into a space. This will break the (current) parser.

[2019-11-11 17:20] jeromesimeon commented on #120
As far as I can tell the softbreaks are being parsed properly, and roundtrip in Cicero markdown:
[code]

[2019-11-11 17:37] jeromesimeon commented on #120
@irmerk I don't think this issue is about markdown transform. Could it be moved to the proper project?

[2019-11-11 17:41] jeromesimeon commented on #116
I don't think I feel that strongly about this issue based on the latest fact finding. I'm closing this. If someone feels strongly that this is the right approach, feel free to reopen it.

[2019-11-11 17:41] #116 closed

[2019-11-11 18:40] jeromesimeon commented on #117
@irmerk I can't find a failing test. Do you know how to reproduce this? Or has it been fixed already?

[2019-11-11 18:43] irmerk commented on #117
I should have provided this context, but I commented out the test in `markdown-editor` with this PR: https://github.com/accordproject/markdown-editor/pull/183

See [this code](https://github.com/accordproject/markdown-editor/blob/master/src/SlateAsInputEditor/index.test.js#L58-L64)

[2019-11-11 20:34] jeromesimeon commented on #117
I would not consider this a bug. Links with no titles are treated as links with empty titles. This is consistent with CommonMark spec and parser. e.g., See example in the Dingus.

<img width="1372" alt="Screenshot 2019-11-11 at 3 29 32 PM" src="https://user-images.githubusercontent.com/670099/68618806-2d505180-0498-11ea-8f89-42f088e15c8b.png">

Note that the kind of test pointed to in the `markdow

[2019-11-11 20:34] jeromesimeon commented on #117
I would close this issue as "not valid". @irmerk let me know if that makes sense and if any other questions.

[2019-11-11 20:36] jeromesimeon commented on #110
Fixed in #122

[2019-11-11 20:36] #110 closed

[2019-11-11 21:00] #117 closed

[2019-11-11 21:45] jeromesimeon commented on #109
Proposed fix in #123

Here is a test with nested lists:
[code]

[2019-11-11 22:19] jeromesimeon commented on #109
Fixed in #123

[2019-11-11 22:19] #109 closed

[2019-11-12 21:14] irmerk opened #125 "Empty List Items throw errors in Slate fromMarkdown"
**Describe the bug**
Error occurs when translating markdown to Slate

**Additional context**
This is happening when taking markdown from a database, which includes an unordered list (`ulist`) with a final bullet point which is empty.

**The error**
[code]

**From this source code**
[code]

**When using this markdown**
[code]

[2019-11-12 21:21] jeromesimeon commented on #125
This is definitely due to the last item with no content, which I think yields a list item with no child nodes

<img width="1134" alt="Screenshot 2019-11-12 at 4 18 32 PM" src="https://user-images.githubusercontent.com/670099/68711687-255fe280-0568-11ea-97aa-b1c41c2fb235.png">

Most likely the new code has to be made more robust to the presence or absence of child nodes.

[2019-11-12 21:27] jeromesimeon commented on #125
Easy way to reproduce the issue with `markus`:

[code]

[2019-11-12 21:48] jeromesimeon commented on #125
So a little more investigation here. I think there is a bit of a discrepancies between `markdown-slate` and `markdown-common`.

1. The Concerto model for CommonMark uses an optional array for children:
https://github.com/accordproject/models/blob/b209abc225db59fcf659b0445bf8723812fdbd2b/src/markdown/commonmark.cto#L23

2. `markdown-common` only creates a list of children when there is a need (so t

[2019-11-12 21:50] jeromesimeon commented on #125
Note. I've experimented with the second option and it does fix the issue reported by @irmerk. (and of course breaks all the test snapshots in `markdown-common` which will now need to have `nodes: []` added where necessary.

[code]

[2019-11-12 21:50] irmerk opened #126 "Handle Empty Backtick Codeblocks"
**Is your feature request related to a problem? Please describe.**
Trailing backticks are left in the markdown even if they do not have any content between them.

**Describe the solution you'd like**
Empty backticks should be removed during the transform.

**Slate Value in the `ContractEditor`**
<img width="331" alt="Screen Shot 2019-11-12 at 16 40 53 PM" src="https://user-images.githubusercontent

[2019-11-12 21:53] jeromesimeon commented on #126
Just one question: why?

Note that standalone `` is _not_ a code span in markdown:

<img width="1144" alt="Screenshot 2019-11-12 at 4 51 28 PM" src="https://user-images.githubusercontent.com/670099/68713925-ec763c80-056c-11ea-9adb-2a5d2c369f3d.png">

[2019-11-12 21:59] irmerk commented on #126
When we are in code block editing mode in the new `markdown-editor` and type a paragraph, line break, empty paragraph, line break, type another paragraph, that middle paragraph will be saved and rendered in the future as two backticks.

[code]

Gets rendered as

[code]

If a user is typing and creates one or more blank lines in between two code blocks, I don't think the expectation will be for tho

[2019-11-13 18:04] jeromesimeon commented on #125
I think first option is less intrusive. Unless objections, I'll go ahead with that.

[2019-11-13 18:16] dselman commented on #125
I agree -- option 1 sounds better.

[2019-11-13 19:06] jeromesimeon commented on #125
Fixed in #127

[2019-11-13 19:53] #125 closed

[2019-11-22 18:06] jeromesimeon opened #130 "Wrapped Variants of Conditional blocks"
**Is your feature request related to a problem? Please describe.**

Provide new CiceroMark nodes for variables corresponding to conditional blocks in templates.

CiceroMark variables can be either seen as plain text or wrapped (e.g., `<variable id="rate" value="3.5"/>`).

Conditional blocks in CiceroMark can also be wrapped, but cannot be easily distinguished from regular variables.

Conditional v

[2019-11-26 18:56] jeromesimeon opened #131 "Wrapped Variants of List blocks"
**Is your feature request related to a problem? Please describe.**

Provide new CiceroMark nodes for variables corresponding to list blocks in templates.

CiceroMark variables can be either seen as plain text or wrapped (e.g., `<variable id="rate" value="3.5"/>`).

List blocks in CiceroMark are currently not wrapped.

Variables corresponding to list blocks are not reflected in the Slate AST, which

[2019-12-03 17:18] #130 closed

[2019-12-03 17:18] jeromesimeon commented on #131
Implemented using the following encoding:
[code]

[2019-12-03 17:22] #131 closed

[2019-12-12 13:26] j4m3sb0mb opened #142 "problem with test coverage importing markdown-transform package"
**Describe the bug**
same issue as this https://github.com/accordproject/cicero/issues/401
in markdown-common

[2019-12-12 14:49] dselman commented on #51
Another one: https://www.npmjs.com/package/markdown-pdf

[2019-12-12 14:50] dselman opened #143 "PDF -> CiceroMark"
It would be useful to be able to import contracts from existing PDFs.

https://github.com/jzillmann/pdf-to-markdown
https://pandoc.org

This should be integrated with #145

[2019-12-12 14:51] dselman opened #144 "DOCX -> CiceroMark"
It would be useful to be able to create contracts from existing MS Word DOCX files.

https://github.com/mwilliamson/mammoth.js#readme
https://pandoc.org

This should be integrated with #145

[2019-12-12 14:55] dselman opened #145 "Detect Clauses in CommonMark DOM"
It would be useful to be able to run a fuzzy match a CommonMark DOM against a set of templates - detecting potential instances of the templates in the CommonMark text (clauses).

1. prepareTemplates : pre-process the templates to prepare them for matching
1. match : fuzzy match of templates to CommonMark DOM
1. parseMatches : check that the matched templates parse, discarding any that do not parse

[2019-12-12 14:59] jeromesimeon commented on #145
Should this be flagged as a `1.0` feature?

[2019-12-17 04:55] jeromesimeon opened #147 "Slate to ciceroMark transform sometimes omits nodes"
**Describe the bug**
Some nodes disappear in the Slate to CiceroMark transform.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the attached `acceptance.txt` file (which contains JSON)
[acceptance.txt](https://github.com/accordproject/markdown-transform/files/3971498/acceptance.txt)
2. Execute: `markus draft --slate --data acceptance.txt`
3. Result is:
[code]
Instead of the expected:
[co

[2019-12-17 13:00] jeromesimeon commented on #147
Fixed in #146

[2019-12-17 13:00] #147 closed

[2019-12-18 02:37] jeromesimeon opened #148 "Emphasis around Inlines yields null text nodes in Slate DOM"
**Describe the bug**
Using emphasis (e.g., `*..*` or `**...**`) around inlines or CiceroMark variables results in nodes with `null` text in Slate DOM.

This breaks the Slate editor, and the markdown-editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the attached file (which contains markdown with emphasis around inlines or variables)
[stronginline.txt](https://github.com/accord

[2019-12-18 14:33] jeromesimeon opened #150 "HTML Inlines do not round-trip in Slate transform"
**Describe the bug**
HTML inlines do not roundtrip in Slate transform.

**To Reproduce**
[code]

[2019-12-18 16:49] #148 closed

[2019-12-20 19:07] irmerk opened #151 "Template Grammar to Slate DOM with Wrapped Variables"
**Is your feature request related to a problem? Please describe.**
Need a way to go from a template `grammar` or `sample` to a Slate DOM with `wrapVariables: true`

**Describe the solution you'd like**
This will allow for rendering a formatted clause template without necessarily having the `clauseTemplate`

[2020-01-08 15:25] DianaLease opened #154 "Issue roundtripping multiline block quotes"
When saving from slate to markdown and then re-rendering as Slate, multiline block quotes get lost. The first line is preserved, but the subsequent lines fall outside the block quote when we reload.

[2020-02-03 15:38] DianaLease opened #156 "Error from `ToMarkdownStringVisitor`'s `escapeCodeBlock`"
**Describe the bug**
`Uncaught TypeError: Cannot read property 'replace' of undefined at Function.escapeCodeBlock at ToMarkdownStringVisitor.visit` error can be caused when certain documents use the transform

[2020-02-04 19:04] jeromesimeon commented on #156
Fix in #157.

Without it:
[code]
with it:
[code]
\(*insert name of landlord*\)

\(*insert date*\)
[code]

[2020-02-04 19:39] #156 closed

[2020-02-04 19:40] jeromesimeon commented on #144
@dselman Can we consider this issue closed in #153 ?

[2020-02-04 19:41] jeromesimeon commented on #143
@dselman Can we consider this issue closed with #152?

[2020-02-04 19:53] jeromesimeon commented on #154
I was mistaken that this isn't a bug in `markdown-transform`. This even occurs for multi-line block quotes roundtrips on CommonMark:

[code]

[2020-02-05 21:17] irmerk opened #160 "Defense for Transforms"
We should provide protections for the transform to handle more robust markdown transforms.

For instance, putting `cicero-ui`'s `README.md` file through the transform fails at [this point](https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-slate/src/ToSlateVisitor.js#L264).

[2020-02-06 15:48] irmerk opened #162 "Conditional Variable Othertext"
Cicero `draft` will be changed to put all conditional variables in markdown XML

This package should handle this change and put variables in the Slate object, maybe in the data of the inline?

For `commonMark` to `ciceroMark` and `ciceroMark` to Slate:
Adjust to handling these inlines being changed

Related issue [comment by Jerome][jeromeComment]:

[code]

[code]

[jeromeComment]: https://github.

[2020-02-06 16:51] jeromesimeon commented on #142
I have an initial PR for this in #161 but not sure how to test it. This is purely based on the corresponding fix that was done for accordproject/cicero#401

@j4m3sb0mb Would you have a simple test package or example I could use to test that the fix works?

[2020-02-06 17:09] jeromesimeon commented on #154
There are more issues lurking in the markdown transform around blockquotes, which can in fact contain any markdown.

Here is a sample that shows issues with headings and lists:
[code]

[2020-02-06 18:51] irmerk opened #163 "Roundtripping Headers made to List"
**Describe the bug**
Roundtripping text in the contract editor when there are h1 elements with numbers at the beginning will cause the formatting to change.

[code]
Results in (I think):
[code]
With horizontal rules

**Expected behavior**
Formatting should be kept as the user sees when roundtripping.

**Screenshots**
<img width="920" alt="Screen Shot 2020-02-06 at 1 47 26 PM" src="https://user-ima

[2020-02-06 18:56] irmerk commented on #163
Furthermore, in the editor, selecting all and deleting and starting to type again results in everything but those horizontal rules being removed. Now I cannot do anything but press enter and add more horizontal rules.

[2020-02-06 18:57] jeromesimeon commented on #163
This sounds to me like a separate issue about deleting horizontal rules. Has that been tested?

[2020-02-06 19:01] irmerk commented on #163
Good point, yes it should be separate but currently we don't have a way for the user to create the horizontal rules so I'll hold off on making that an issue.

[2020-02-06 19:13] irmerk opened #164 "Monospace Link Roundtrip"
**Describe the bug**
Monospace links are broken in the roundtrip

**Screenshots**

---

<img width="539" alt="Screen Shot 2020-02-06 at 2 10 42 PM" src="https://user-images.githubusercontent.com/36460856/73970172-af5ee380-48ea-11ea-8225-3aeba0df0713.png">

---

**Additional context**
This may need to be moved to `markdown-editor`?

[2020-02-06 19:28] jeromesimeon commented on #164
I'm not sure I understand this issue. What's a monospace link?

[2020-02-06 19:29] jeromesimeon commented on #164
The commonmark spec has a notion of link, but nothing font-specific. https://spec.commonmark.org/0.29/#links

[2020-02-07 04:11] jeromesimeon commented on #163
Can't a user load a markdown file with an horizontal rule?

[2020-02-07 04:12] jeromesimeon commented on #163
Fixed in #165

[code]

[2020-02-07 04:14] jeromesimeon commented on #154
Should be properly fixed in #165
[code]

[2020-02-07 13:42] jeromesimeon commented on #142
Fix in #161 was tested with the following sample npm package:

[test.zip](https://github.com/accordproject/markdown-transform/files/4171048/test.zip)

Seems to work fine. Before the fix:
[code]

After the fix:
[code]

[2020-02-07 13:42] #142 closed

[2020-02-07 13:44] jeromesimeon commented on #154
PR merged with the fix. The bigger test:

[code]

[2020-02-07 13:44] #154 closed

[2020-02-07 13:50] jeromesimeon commented on #163
I think this should be fixed with that PR. please reopen if you disagree.

[2020-02-07 13:50] #163 closed

[2020-02-07 14:22] jeromesimeon opened #167 "More block quotes funkiness"
**Describe the bug**
For blockquotes within lists, there is some extra new lines that mess things up.

Sample:
[code]

[2020-02-07 14:23] jeromesimeon commented on #167
On that sample, the output of roundtripping shows:
[code]

[2020-02-07 14:23] jeromesimeon commented on #167
This:
[code]

Should be instead:
[code]

[2020-02-07 14:39] jeromesimeon opened #168 "Escaping logic for # in text nodes interacts with parsing for Cicero templates"
**Describe the bug**
Roundtripping CiceroMark templates may include `#` which is used for blocks (e.g., `{{#if}} ... {{/if}}`.

This creates conflicts with the escaping logic which turns `#` in text blocks into `\#`. The escaping logic should me made more robust to avoid that issue.

Example of parsing issue in Cicero resulting from this:
[code]

[2020-02-07 23:17] DianaLease opened #169 "Converting empty markdown string to slate issue"
**Describe the bug**
Converting an empty markdown string to slate gives us a bad slate dom with no nodes, when we should have a text node whose text property is an empty string.

This is what we currently produce:
[code]

This is what we should produce:
[code]

[2020-02-10 13:47] irmerk commented on #169
This is closed with #170 correct @jeromesimeon?

[2020-02-10 13:56] irmerk commented on #164
Now that I think about it, maybe this is more of an issue for the `markdown-editor`. This is what I mean by monospace link:

<img width="1178" alt="Screen Shot 2020-02-10 at 8 55 47 AM" src="https://user-images.githubusercontent.com/36460856/74155829-32ca4e80-4be3-11ea-87ed-4ea3ecda3393.png">

[2020-02-10 14:09] DianaLease commented on #169
Yup, this now is fixed!

[2020-02-10 14:09] #169 closed

[2020-02-10 15:56] jeromesimeon commented on #167
Fixed in #170

[2020-02-10 15:56] #167 closed

[2020-02-10 15:57] jeromesimeon commented on #168
Fixed in #170

[2020-02-10 15:57] #168 closed

[2020-02-10 16:19] jeromesimeon commented on #164
This seems to be parsed and round-trip properly.
[code]

@jolene, what is the error you are getting?

[2020-02-10 16:30] jeromesimeon commented on #164
Some more investigation, the Slate transform does lose the inline code:
[code]

[2020-02-11 17:20] jeromesimeon commented on #164
This issue isn't specific to code inlines inside links, but to anything other than a text node inside a link.

For instance, with emphasis:
[code]

[2020-02-11 17:22] jeromesimeon commented on #164
This should be fixed with #171

[code]

[2020-02-11 17:30] jeromesimeon commented on #164
A more fancy test:
[code]

[2020-02-11 20:06] #164 closed

[2020-02-11 20:11] jeromesimeon opened #173 "Are HTML Inlines Supported or not in Slate? They do not roundtrip."
**Describe the bug**

There is some confusion about HTML inlines.
- They are supported fine in the CommonMark and CiceroMark transforms
- They _seem_ to be supported in the markdown editor: https://github.com/accordproject/markdown-editor/blob/6c17020a5d7408d0a167d80a6a76fdae5cdfbd7f/src/SlateAsInputEditor/index.js#L160
- They are turned to HTML blocks in the Slate transform: https://github.com/ac

[2020-02-11 20:16] jeromesimeon opened #174 "quote or block quote, that is the question"
**Describe the bug**
Both `quote` and `block_quote` are handled in part of the Slate transform code. They both seem to really mean to support commonmark block quotes, and possibly `quote` is obsolete.

- it is supported in the slate to CiceroMark transform here: https://github.com/accordproject/markdown-transform/blob/2b2764ebf25cc24aefd81fcdd26baff9495590ef/packages/markdown-slate/src/slateToCice

[2020-02-11 20:16] jeromesimeon commented on #174
This issue could use input from @DianaLease and @irmerk

[2020-02-11 20:28] DianaLease commented on #174
hmm, `quote` does not seem necessary. Looks to me like it could safely be removed.

[2020-02-11 20:32] jeromesimeon commented on #174
Removed in `markdown-transform` PR #172

Will leave open until it's removed from `markdown-editor`

[2020-02-12 14:07] #174 closed

[2020-02-12 14:21] jeromesimeon commented on #160
This should not fail at this point anymore, handling links properly in release 0.9.9. It _may_ fail at some other point in the editor, I haven't checked yet.

[2020-02-12 15:03] jeromesimeon commented on #160
Cicero UI `README.md` now works in the Markdown Editor:

<img width="714" alt="Screenshot 2020-02-12 at 9 47 45 AM" src="https://user-images.githubusercontent.com/670099/74347279-dd2aa900-4d7e-11ea-95b5-dbb71d8dff40.png">

[2020-02-12 16:25] dselman opened #175 "Support Slate 0.50.x"
The `SlateTransformer` currently wraps the JSON in a Slate `Value`. In Slate 0.50.x `Value` has been removed and Slate operates on JS objects.

**Describe the solution you'd like**
Modify the codebase such that it can support both 0.46.x and 0.50.x usage.

[2020-02-12 16:57] jeromesimeon commented on #175
I remember thinking it would be nice to remove slate entirely from the current code of the `markdown-transform` and let the `markdown-editor` be the one responsible for doing the conversion to Slate object (for `0.46.x`). That would remove one dependency.

@dselman for `0.50.x` is there a description of the JSON for Slate anywhere?

[2020-02-13 16:20] jeromesimeon commented on #162
Note: the sample was done by hand, the text content for `whenTrue` and `whenFalse` should be URL-encoded. (@dselman )

[2020-02-15 17:28] jeromesimeon opened #176 "HTML Blocks do not roundtrip through Slate transform either..."
**Describe the bug**
HTML blocks do not roundtrip through the slate transform.

**To Reproduce**
[code]

**Expected behavior**
HTML blocks should roundtrip.

**Additional context**
Test clearly shows it's not working:
https://github.com/accordproject/markdown-transform/blob/7e1a4f990852c27e2cecd23c6b0deb465dbce5d6/packages/markdown-slate/src/__snapshots__/SlateTransformer.test.js.snap#L1631-L1642

[2020-02-15 18:44] jeromesimeon commented on #176
Fixed in #177

[2020-02-15 18:44] #176 closed

[2020-02-15 18:45] jeromesimeon commented on #173
Fixed in #177

[2020-02-15 18:45] #173 closed

[2020-02-15 18:46] jeromesimeon commented on #150
Duplicate of #173 Fixed in #177

[2020-02-15 18:46] #150 closed

[2020-02-17 19:18] irmerk commented on #175
The issue https://github.com/accordproject/cicero-ui/issues/282 could potentially be helped by support of `v0.50.x`

[2020-02-17 19:31] jeromesimeon commented on #175
Looking at Cicero UI #282 I don't see the connection. Could you elaborate?

[2020-02-17 19:32] irmerk commented on #175
This is what Diana and I had spoken about where we are at an impasse, and upgrading to `v0.50` could potentially help that. This was just for reference between the two issues.

[2020-02-17 19:37] jeromesimeon commented on #175
That doesn't help very much. There is nothing in #282 which mentions being at an impasse or anything related to Slate 0.50?

[2020-02-18 14:58] jeromesimeon commented on #175
The removal of the slate dependency and corresponding `Value` calls has been removed in #181 and #182. This means the `markdown-slate` transform never relies on the Slate DOM and only uses the JSON representation.

_warning_ I do not believe this means we support Slate 0.50.x. As far as I can tell the JSON representation has changed as well. e.g., I think `nodes` as been renamed to `children` http

[2020-02-18 15:00] DianaLease commented on #175
That's fine for now. What we'll need to think about when we update to slate 0.50.x is if we'll want to stay backwards compatible with 0.47.x.

[2020-02-18 15:10] jeromesimeon commented on #175
👍 agreed. Also this will have to be tested live on a parallel version of the markdown editor.

[2020-02-20 15:53] dselman opened #184 "Convert CommonMark DOM to Plain Text"
It is sometimes useful to strip markdown formatting from input text, for example, when displaying a summary in a dialog.

**Describe the solution you'd like**
Add a method `toPlainText` to the `CommonMarkTransformer`.

[2020-02-20 20:14] adrijshikhar commented on #111
i would like to work on this issue.

[2020-02-20 20:16] jeromesimeon commented on #111
That would be great! I'll assign it.

[2020-02-27 17:06] jeromesimeon commented on #175
Also, possibly useful typescript interfaces for Slate 0.50.x
https://github.com/ianstormtaylor/slate/tree/master/packages/slate/src/interfaces

[2020-03-03 13:54] sunn-e commented on #145
My queries are as follows:
1. Are we trying to detect what kind of Accord contract is in any random text file(.txt,.pdf,.md,etc) submitted by user?
That means we need to build an NER model which will be trained on all the Accord contract templates mentioned here .
The model will detect what kind of contract it is. There can be 0 or more than that.
2. Are we trying to separate the Accord project te

[2020-03-03 14:06] sunn-e commented on #145
Is fuzzy matching the best technique so far? What are your views. The Manhattan LSTM architecture has been used too for similar tasks.
Semantic Textual Similarity can be our priority since it focuses on cross lingual aspect.

[2020-03-03 14:17] dselman commented on #145
1. The input would be a CommonMark DOM (JSON data structure).
2. For a given AP template e.g. acceptance-of-delivery: https://templates.accordproject.org/acceptance-of-delivery@0.13.1.html we would have to assemble a training data set of alternate legal text for this clause (perhaps from https://www.lawinsider.com/clause/delivery-and-acceptance). We then have to train a model to classify incoming

[2020-03-03 14:18] dselman commented on #145
One of the goals should be to explore some different options and measure accuracy.

[2020-03-03 14:34] sunn-e commented on #145
Thanks for the comments. I'm actually looking for different options and benchmark to see how they perform. Literature review as you said.
I will need some time to do that. Meanwhile feel free to suggest any papers you come across that you think could be of any use. This is a very interesting problem. It may help us in creating some novel algorithm. Perhaps a paper. As I have mentioned previously,

[2020-03-04 03:58] sunn-e commented on #145
Question: Is there any restriction on the tech stack I can use?

[2020-03-04 14:34] irmerk commented on #145
@sunn-e I doubt there would be. I think raise it with the community, maybe on slack, if it's not something we currently use. Still, doubt it would be an issue...

[2020-03-04 14:35] jeromesimeon commented on #145
It has to be open source ( I think ! ).

[2020-03-04 14:36] jeromesimeon commented on #145
I would add: multi platform. I don't think we should go for something that is e.g., Windows only.

[2020-03-04 19:33] Anubhavshakya commented on #51
@irmerk Can I work on this issue ?

[2020-03-04 23:30] jeromesimeon opened #189 "HTML transform does not handle conditional variables"
**Describe the bug**
Calling the transform with the `--html` flag on markdown with conditional variables raises and error.

**To Reproduce**
[code]

[2020-03-04 23:48] jeromesimeon commented on #162
This was fixed in #180

[2020-03-04 23:48] #162 closed

[2020-03-05 15:21] jeromesimeon opened #191 "HTML transform does not preserve soft breaks around variables"
**Describe the bug**
If a variable is preceded or followed by a soft break, this isn't preserved through the transform.

**To Reproduce**
[code]

[2020-03-05 15:32] jeromesimeon commented on #189
This is fixed in #190
Separate issue on softbreaks roundtripping filed as #191

[2020-03-05 15:32] #189 closed

[2020-03-06 14:33] DianaLease commented on #175
Text nodes are differen in 0.50.x vs 0.47.x. ---

**Text node in 0.47.x:**
[code]

**Simple text node in 0.50.x:**
[code]

Text nodes too can contain any custom properties you want, and that's how you implement custom formatting like bold, italic, code, etc. (https://docs.slatejs.org/concepts/02-nodes#text)
**Text node in 0.50.x with formatting:**
[code]

[2020-03-06 14:36] jeromesimeon commented on #175
Hi @DianaLease I think it does mean we _could_ keep it as the current format if we wanted to (and maybe clean up later) am I misunderstanding?

[2020-03-06 14:37] jeromesimeon commented on #175
Concretely: `object` and `mark` were built-into 0.40 but now they would just become part of our custom properties.

[2020-03-06 14:39] jeromesimeon opened #193 "Plain text option should handle line breaks"
**Describe the bug**
The `--plainText` potion for converting to pure text without rich text annotation does not seem to handle line breaks.

**To Reproduce**
[code]

[2020-03-08 16:08] adityak2920 commented on #145
Will the organisation going to provide computing resources for training models related to document classification and NER?

[2020-03-09 13:50] jeromesimeon opened #196 "Support for tables in the Markdown"
**Is your feature request related to a problem? Please describe.**
It's not related to a problem, it's related to a feature. Namely having an agreed upon markdown notation for tables which are common in contracts.

**Describe the solution you'd like**
A user-friendly way to describe tables in the markdown we support.

**Describe alternatives you've considered**
This could be achieved in a number o

[2020-03-09 13:51] #193 closed

[2020-03-09 13:59] mttrbrts commented on #196
I have been thinking about the GSoC project for DMN, and if this is somehow related.

For example, a DMN Decision Table in CiceroMark.

We could go in a few different directions here:
1. Support for base tables is a prerequisite for DMN Decision Tables, and we allow DMN / FEEL expressions within table cells as a kind of computed parameter
2. We support both structural tables (as in GFM), and DMN D

[2020-03-09 14:01] jeromesimeon commented on #196
I like this idea. I would make sure to distinguish tables in the instance contract text or tables in the template grammar (I think the DMN would be the latter? so more an extension to our template).

An example to crystallise those thoughts would be great!

[2020-03-09 15:41] mttrbrts commented on #196
![image](https://user-images.githubusercontent.com/7544022/76229628-6c11d080-621a-11ea-9e8c-a1a93bb11d13.png)

Using [this XML example](https://github.com/camunda/camunda-bpm-examples/blob/master/dmn-engine/dmn-engine-java-main-method/src/main/resources/org/camunda/bpm/example/dish-decision.dmn11.xml) from https://camunda.com/dmn/

| Season | How many guests | Dish |
| --- | --- | --- |
| "Fall" |

[2020-03-09 18:51] jeromesimeon commented on #145
Good question! @dselman any thought?

[2020-03-10 09:17] dselman commented on #196
Interesting! I'd imagined that DMN would sit at the *implementation* side of the business logic of a template  (as another form of Ergo function), rather than directly in the text of the contract, but this opens intriguing possibilities for negotiating complex contract logic, rather than just variable values.

[2020-03-10 10:35] mttrbrts commented on #196
Thinking further, I'm not sure that DMN is necessary here, we already have an expression language in the form of Ergo, and compiling to then parsing DMN XML when editing could be expensive.

I think that I'm advocating a "Decision Table" concept in Cicero which is a combination of computed Ergo expressions and tables, plus possibly a new list block type to allow dynamic rows.

[2020-03-11 13:50] jeromesimeon commented on #196
@mttrbrts We could probably investigate that direction. A few questions.
1. Where are the variables in that table above. Can I assume the column names would be the variable variables? (we need to know what to compare against when an entry says e.g., `<=8`
2. Should we add display names for variables in the CiceroMark spec? (e.g., `"How many guests"` vs `guestCount`
3. Do we also want some kind of

[2020-03-11 14:38] mttrbrts commented on #196
Typically with decision tables, they operate like functions with the input context being all of the input columns, and they produce the output in the output columns. In Cicero, we could equate this with Request and Response models respectively.

However, I could imagine that the expressions could include variables from the template model too.

For example:
[code]
means when `season === "Fall"`

Bu

[2020-03-11 14:42] jeromesimeon commented on #196
Great. I think we are on the same page. To clarify:

- In the contract instance, the table keeps the "formula" text *not* instances
- The table gets compiled into a post-signature logic (i.e., with a `Request` and `Response`)

Is that also your understanding?

[2020-03-11 14:50] mttrbrts commented on #196
Yes, I think that all of those 3 points are correct

[2020-03-11 14:55] jeromesimeon commented on #196
One more question: in DMN can there be more than one output column?

[2020-03-11 14:59] mttrbrts commented on #196
I believe so, but only with a complex object

[2020-03-11 18:15] dselman commented on #184
Implemented

[2020-03-11 18:15] #184 closed

[2020-03-11 19:07] jeromesimeon opened #197 "CiceroMark variables inside HTML blocks rather than HTML inlines are not detected"
**Describe the bug**
Variables corresponding to HTML inlines are detected:
[code]
But variables making an HTML blocks aren't:
[code]

**Flags**
This is either a bug or a feature request, depending on your interpretation.

[2020-03-11 19:09] jeromesimeon commented on #197
The corresponding specification for HTML blocks is here: https://spec.commonmark.org/0.29/#html-blocks

The relevant part of that specification is:

End condition: line is followed by a blank line.

[2020-03-11 19:15] jeromesimeon opened #198 "HTML transform constructing a document fragment"
**Is your feature request related to a problem? Please describe.**
Some users may want to embed the result of the HTML transform in an existing page. Currently this is not easy to do since the HTML transform always includes `<html>...</html>` tags around the result of the transform.

**Describe the solution you'd like**
The ability to generate an HTML fragment rather than a whole page.

I'm unclea

[2020-03-13 21:44] jerrybuks commented on #197
I would love to give this a try?

[2020-03-13 21:46] jeromesimeon commented on #197
@jerrybuks sounds great! This is a pretty high priority one, let me know if you need help / have any questions.

[2020-03-13 21:52] jeromesimeon commented on #197
A couple of snapshots using the CommonMark dingus, to illustrate the root of the problem:

![InlineOrBlock](https://user-images.githubusercontent.com/670099/76662071-59b5d080-6553-11ea-8782-cd3a3804d8a5.gif)

![MoreHTMLBlockWeirdness](https://user-images.githubusercontent.com/670099/76662085-66d2bf80-6553-11ea-88f0-05c25a1f9bb3.gif)

[2020-03-13 21:55] jeromesimeon commented on #197
@jerrybuks A couple of quick pointers.

- The CommonMark dingus is a good way to get a sense for what's happening in the markdown parsing phase (the markdown transform always starts there, then transforms further into CiceroMark)
- I had in mind that the right place to fix this would be in the CommonMark -> CiceroMark transform located in the `./packages/markdown-cicero` part of the project. -- bu

[2020-03-13 22:13] jerrybuks commented on #197
Okay, I will take a look at it. Thanks for the pointers

[2020-03-20 16:41] jerrybuks commented on #197
@Jerome, Just observed that this is the default commonMark behaviour as pointed out [here](https://stackoverflow.com/questions/29368902/how-can-i-wrap-my-markdown-in-an-html-div). when  keep an empty line in between the HTML block and the markdown code, the contents will be parsed as Markdown. I tried this out for both cases( when an empty line is kept and when its not). When the empty line is the

[2020-03-20 16:58] jeromesimeon commented on #197
Yes I think what's happening here (following the commonmark spec) is that if you put an extra new lines, the following content is a paragraph (i.e., not _inside_ the code block). So you have two code blocks with a paragraph in between. Those two code blocks are unrelated so I'm not sure how this helps -- common mark will not tell us that we have proper open/closing of those tags, etc.

I think the

[2020-03-20 17:21] jerrybuks commented on #197
ooh, I think I get now, so the solution to probably to improve  commonMark's parsing of markdown to able to handle the block element, just like it handles inline?

[2020-03-21 17:36] jerrybuks commented on #197
@jeromesimeon should I still proceed in fixing these, as described in this Issue(#197)

[2020-03-22 09:23] irinbanerjee commented on #160
hi ! can I be assigned this?

[2020-03-22 19:52] irmerk commented on #160
Hello @irinbanerjee! We are actually migrating this repository (as well as `markdown-editor` and `cicero-ui`) to a new version of Slate, so this should probably hold off until we are done with that. It is being tracked [here](https://github.com/accordproject/markdown-editor/issues/297).

[2020-03-26 18:46] dselman commented on #145
Yes, within reason, we can provision VMs on AWS to help with training.

[2020-04-01 16:02] jerrybuks commented on #197
@jeromesimeon can I still work on this, was a bit confused, if I should still work on this, based on your reply "I think the question really is: what behaviour do we want for HTML blocks. I'm not sure we've really decided.".....

[2020-04-01 17:20] jeromesimeon commented on #197
Sure! Sorry if my comment was confusing, what I was trying to say is that a first step in addressing this issue is to decide what behaviour we want? Should this kind of variable be: an error? handled as if it was an inline?

I think it would be great if at least users writing templates with things like:
[code]
Against a sample:
[code]

Which generate:
[code]

Would either get notified that this is

[2020-04-01 18:01] jerrybuks commented on #197
Yeah, makes more sense now, considering the options you gave (supporting or returning an "unsupported notification"), not sure which is a better option, but allowing the support introduces more flexibility, on the other restricting it  and sending an unsupported notification helps keep and preserve a particular standard. But I think handling it as inline and perhaps specifying this in the docs is

[2020-04-01 18:13] jeromesimeon commented on #197
Right. So yes definitely if we could find a way to naturally support it, that would be my preference. (With the old principle of "least astonishment" for our users).

The reason I'm unclear about it is that I don't know how easy/hard it is, and I don't have a clear idea in my mind about whether we can cover all cases.

So: yes help on this would be amazing!

[2020-04-01 18:36] jerrybuks commented on #197
Okay, great, will give it a try!

[2020-04-02 15:56] irmerk opened #203 "SlateTransformer toCiceroMark readOnly children reassignment"
**Describe the bug**
In the [`slateToCiceroMarkDom`](https://github.com/accordproject/markdown-transform/blob/slate-0.50.x/packages/markdown-slate/src/slateToCiceroMarkDom.js#L245) I’m running into this error where `node.children` is read only and errors because it cannot be reassigned.

The error is
```Uncaught TypeError: Cannot assign to read only property 'children' of object '#<Object>'``` whi

[2020-04-02 16:06] jeromesimeon commented on #203
The markdown transform expects a plain JSON object. Can you try with that? I'm suspecting that what you are passing isn't proper JSON.

[2020-04-02 16:58] irmerk commented on #203
Tracking in https://github.com/ianstormtaylor/slate/issues/3577

[2020-04-02 22:58] irmerk commented on #203
Changing title. We need to migrate to a functional approach to transformations and avoid mutations.

[2020-04-08 13:52] jeromesimeon opened #210 "Markdown Transform does not handle variables with format"
**Describe the bug**
CiceroMark variables with format e.g., `<variable id="effectiveDate" value="2018%2F04%2F02" format="YYYY%2FMM%2FDD"/>` are not recognised properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following markdown:
[code]
2. Use `markus`:
`markus parse --sample demandforecast.md --cicero`
3. The variable is not recognised (still an html inline)
[code]

[2020-04-08 14:23] jeromesimeon commented on #210
Fixed in #209 -- not fixed in Slate 0.50.x branch yet.

[2020-04-10 04:31] dselman opened #211 "CLI changes: wrapVariables and noQuote options"
This is a proposal to make some changes in how we describe wrapVariables and noQuote, and the CLI that drives them.

## wrapVariables

The intention of the transformation option to wrap or unwrap variables is to provide a format that is easier for the Cicero-UI editor to deal with, in that model information for variables (type and formatting information, values for conditional variables) has been

[2020-04-10 12:57] jeromesimeon commented on #211
Yes I think it's really great! I had not thought of making the wrapped variables variant a different format. To me that makes a lot of sense.

I also like `--input` to replace the distinction between `draft --data` and `parse --sample`.

I am a bit more confused about making a format distinction between:
[code]
and
[code]

This isn't very clearly a different format both of which are perfectly vali

[2020-04-10 13:25] jeromesimeon commented on #211
One more question. What happens to the DOM v text representation in this proposal.

[2020-04-10 14:05] dselman commented on #211
Good questions. I will explore both with some test code...

[2020-04-10 20:47] irmerk commented on #160
@irinbanerjee:

accordproject/cicero-ui#357 and accordproject/markdown-editor#297 have been finished, so there is no longer a blocker on this issue. The migration _may_ have solved this issue, so look into that first.

[2020-04-15 18:12] jeromesimeon opened #215 "Slate does not round trip for some examples of markdown annotations around variables"
**Describe the bug**
Some examples of markdown annotations (e.g., bold/italics) around CiceroMark variables disappear when doing a round-trip through the Slate Document Object Model.

For instance:
[code]

[2020-04-15 18:15] jeromesimeon commented on #215
This bug also affects the current master branch based on Slate 0.57:

[code]

[2020-04-15 18:22] jeromesimeon commented on #215
(in master) In CiceroMark we have a `Strong` node around the variable:
[code]
But this gets pushed into a `bold:true` on the text inside the variable in Slate, not sure if that's right:
[code]

[2020-04-16 16:16] jeromesimeon commented on #215
Fixed in #216

[2020-04-16 16:16] #215 closed

[2020-04-16 19:00] irmerk opened #217 "Mutating Read-Only Data"
**Describe the bug**
Attempting to mutate read only data

**To Reproduce**
[CodeSandbox](https://codesandbox.io/s/ciceroui-ipm7l?file=/demo/src/index.js)

[TypeError](https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-slate/src/slateToCiceroMarkDom.js#L240):
[code]

[2020-04-16 19:08] irmerk commented on #217
`markdown-transform` expects proper `JSON`, not `JSON` under `immer` control. Temporary fix is `JSON.parse(JSON.stringify(x))`

[2020-04-16 19:08] #217 closed

[2020-04-16 19:08] jeromesimeon commented on #217
While we could change the assumptions, the `markdown-slate` transform expects a proper JSON value (i.e., mutable) as input.

It might be nice to provide a functional API instead of what we currently do, but this would be a larger issue.

[2020-04-16 19:09] jeromesimeon commented on #217
For anyone who bumps into this, the recommended workaround for the time being is to pass a clone of your input data if you need to (i.e., using something like `JSON.parse(JSON.stringify(input))`).

[2020-04-23 14:44] jeromesimeon commented on #211
@dselman Can we close this? (maybe open a separate issue on ciceroEdit?)

[2020-04-23 14:44] #210 closed

[2020-04-30 14:24] #175 closed

[2020-05-07 09:53] #143 closed

[2020-05-22 20:54] jeromesimeon opened #224 "Empty headings do not roundtrip properly"
**Describe the bug**
Empty ATX markdown headings are wrongly translated using Setext heading markup.

**To Reproduce**
Steps to reproduce the behavior:
1. Take the following markdown file:
[code]

2. roundtrip using:

[code]

**Expected behavior**

Roundtrip to a proper empty heading:
[code]

Reported by @DianaLease

[2020-05-22 21:33] jeromesimeon commented on #224
Fixed in #225

[2020-05-22 21:33] #224 closed

[2020-06-03 15:35] DianaLease opened #226 "Replace jsdom dependency in markdown-html"
The dependency on jsdom requires users to ignore `jsdom` via webpack when using this module in a web app, since jsdom is not made to run in the browser. We should consider an alternative.

[2020-06-10 20:15] mttrbrts opened #229 "Aborting (throwing errors) within a transform"
The `markdown-cicero` transform currently requires that a `clause` tag has both `src` and `clauseid` attributes.
[code]
However, this can lead to id conflicts when adding multiple instances of the same tag to a document, it also means that if a user doesn't provide the `clauseid`, then the tag is not recognised as a `clause` tag and falls back to a code block (this behaviour is due to the markdown

[2020-06-11 12:59] irmerk commented on #229
Just a note that the `clauseid` attribute is changing to `name, referenced [here](https://github.com/accordproject/cicero/issues/547#issuecomment-632256643)

What does this mean?

I think we don't want to allow multiple instances of the exact same clause in a document.

Also, I'm not sure why we want the user to control the `clauseid`/`name` because it _should_ be unique.

[2020-06-19 12:53] dselman commented on #51
https://github.com/bpampuch/pdfmake

Takes a declarative approach, which could make this really easy. We just have to transform the CiceroMark DOM into the JSON used by pdfmake.

[2020-06-19 15:58] dselman opened #231 "Escaped markdown doesn't roundtrip"
`\______________` doesn't roundtrip through the CommonMarkTransformer

[code]

[2020-06-19 17:21] jeromesimeon commented on #231
Should work now in the new parser with #231

Tests with commonmark roundtrip:
[code]

Test with parser:
[code]

[2020-06-20 04:01] #231 closed

[2020-07-01 12:34] jeromesimeon commented on #191
Fixed in #237

[2020-07-01 12:34] #191 closed

[2020-07-01 12:35] jeromesimeon commented on #197
This problem is fixed on the development branch, which now parses variables in the template grammar using a proper markdown extension (using `markdown-it`).

[2020-07-01 12:35] #197 closed

[2020-07-01 12:38] jeromesimeon commented on #151
A good chunk of work for this has been done in the development branch. The approach is as follows:
-[x] define a DOM for the grammar (it is called `templatemark`)
-[x] create a parser for the grammar and transform to template mark
-[ ] add a translation from `templatemark` to `slate` DOM (TODO)

[2020-07-01 12:40] jeromesimeon commented on #111
Since we switched the parser to `markdown-it` this feature should probably be based on: https://markdown-it.github.io

[2020-07-02 12:57] irmerk commented on #111
@adrijshikhar I'm marking this as open.

[2020-07-06 16:03] jeromesimeon opened #245 "Transform does not round trip on empty code blocks"
**Describe the bug**
Roundtrip for empty code blocks throws an exception.

This bug is still present in the new parser.

[code]

[2020-07-06 18:57] jeromesimeon commented on #245
Fixed in #246

[2020-07-06 18:57] #245 closed

[2020-07-07 10:42] dselman opened #247 "CiceroMark OOXML transform"
The existing DOCX support is partial and is poor quality with many real-world DOCX files. It would be preferable to have a first-class bidirectional transformation from CiceroMark to/from OOXML.
**Describe the solution you'd like**
Integrate an OOXML <-> CiceroMark transform into the project.

**Describe alternatives you've considered**
We currently use a 3rd-party library to do DOCX -> Markdown t

[2020-07-07 11:06] dselman commented on #51
Implemented by https://github.com/accordproject/markdown-transform/pull/243

[2020-07-07 11:06] #51 closed

[2020-07-07 11:07] dselman commented on #144
Superseded by: https://github.com/accordproject/markdown-transform/issues/247

[2020-07-07 11:07] #144 closed

[2020-07-07 17:25] dselman opened #249 "Make decorators on variables available within CiceroMark"
It would be very useful for transformations to have access to all the decorators placed on variable Concerto types -- allowing them to customise the output based on metadata specified on the variable types.

For example, this could be used by signature blocks to ensure that variables with the `@SignatureVariable()` decoration are rendered as white text in PDF, and are not editable in the Slate edi

[2020-07-10 23:56] jeromesimeon opened #254 "Code blocks inside other blocks do not roundtrip"
For instance:
[code]

[2020-07-13 10:45] martinhalford opened #260 "Transform from markdown to PDF fails when image link exists in markdown."
**Describe the bug**
Transform command throws an unhandled exception when transforming from markdown to pdf if image link contained within markdown document.

**To Reproduce**
Steps to reproduce the behavior:
1. Include an image link within markdown document. For example...
[code]
2. Execute transform command. For example...
[code]
3. See error
[code]

**Expected behavior**
The image URL is valid

[2020-07-24 02:11] jeromesimeon commented on #249
ouch... I completely forgot about this. I think this will have to happen in a future release.

[2020-07-24 02:13] jeromesimeon commented on #211
@dselman Can we consider this issue resolved? The status in the new release:

- noQuotes can be obtained through a transform to the `ciceromark_unquote` format
- "wrapped variables" correspond to the new **and deprecated** format `ciceroedit`

[2020-08-05 18:11] jeromesimeon opened #270 "Align HTML render method and HTML transform"
Each `markdown-it` plugin has to support a native `render` method which generates HTML (since this is the main use case for the library). The current HTML hasn't really been reviewed, but it should try and align with the current `ciceromark` to `html` transform.

For instance, currently in the markdown-it extension rendering for template variables:
[code]

It should instead be similar to:
[code]

[2020-08-05 21:45] DianaLease opened #271 "@accordproject/markdown-transform causes error when used in the browser"
**Describe the bug**
Cannot use `@accordproject/markdown-transform` in the browser.
When trying to use it, the error `TypeError: fs.readFileSync is not a function` comes from `markdown-pdf`. It looks like it is because of a `require` statement for `easy-pdf-parser` here: https://github.com/accordproject/markdown-transform/blob/4fdfef15f741a597ed5a377d915a32ff07498c62/packages/markdown-pdf/src/PdfT

[2020-08-05 21:57] dselman commented on #271
I think we can refactor the transform to use `pdf.js` (which runs in the browser) directly. Basically I think we can extract all the text content using:
https://github.com/mozilla/pdf.js/blob/95e102c07bc257c2120fd7fd9141762b2c813a1c/src/display/api.js#L896

It will give us more control over how text is mapped to headings etc.

[2020-08-05 22:05] dselman commented on #271
[code]

[2020-08-06 02:58] jeromesimeon commented on #270
Addressed in PR #272

[2020-08-06 02:58] #270 closed

[2020-08-06 14:59] martinhalford opened #274 "Embedded Ergo expressions and/or backticks fail to execute/render"
**Describe the bug**
Attempting to use backticks within an Ergo expression within a `grammar.tem.md`.  However, when `draft` command executed, the syntax is passed through to the `output.md` file in raw, intact form.

Cicero version 0.21.0

**To Reproduce**

`data.json`
[code]
`grammar.tem.md`
[code]
Execute `cicero draft` command.

No error thrown. Simply fails to process syntax.

**Expected beha

[2020-08-06 15:02] jeromesimeon commented on #274
Thanks @martinhalford . It is an issue with the new parser which does not like `%` inside a formula (due to a wrong / too constrained regular expression in the template plugin). I'm looking into it.

[2020-08-06 15:11] jeromesimeon commented on #274
This is going to be a slightly tricker issue than expected. For the time being, the work around is to use string concatenation `++` inside Ergo formulas.

[2020-08-07 12:31] jeromesimeon opened #277 "Re-building the parser can fail"
**Describe the bug**
Building the parser sometimes fail. We should be able to rebuild the parser (e.g., to handle changes to the grammar). It seems to indicate the internals of the parser generation keeps some state when it shouldn't.

**To Reproduce**
Steps to reproduce the behavior:

Tested internally by calling `buildParser` twice in the `parsermanager`:
[code]

This results in some errors in a

[2020-08-07 14:55] jeromesimeon commented on #277
Fixed in #278

[2020-08-07 14:55] #277 closed

[2020-08-10 03:55] jeromesimeon commented on #211
Closing. Feel free to re-open if you disagree.

[2020-08-10 03:55] #211 closed

[2020-08-10 04:29] jeromesimeon commented on #111
Declaring this issue done. A fully functional "dingus" is available at https://templatemark-dingus.netlify.app

[2020-08-10 04:29] #111 closed

[2020-08-10 22:11] jeromesimeon commented on #271
If we take that route, what are our dependencies? (i.e., what might break / what should be tested?). Notably, is this code used when doing cut+paste in the editor?

[2020-08-11 18:32] jeromesimeon commented on #229
The current version `0.12.*` follows the "gracefully fallback" principle. Although we could change this behaviour, this is inline with all other markdown extensions I found for `markdown-it` (and generally in line with best practices for markdown extensions).

To some extent the https://templatemark-dingus.netlify.app can allow users to check whether their contract or grammar is parsed as expected

[2020-08-17 02:08] martinhalford opened #288 "Embedded {{#ulist}} end tag terminates parent {{#ulist}}."
**Describe the bug**
Where a {{#ulist}} is embedded inside a parent {{#ulist}} the first {{/ulist}} end tag terminates both {{#ulist}} items.

**To Reproduce**
Consider the following grammar.
[code]
This renders as follows:
[code]
Notice the extraneous `{{/ulist}}` at the end?

Removing the second `{{ulist}}` has no effect on the grammar execution when it should.

**Expected behaviour**

Expect th

[2020-08-17 02:58] martinhalford opened #289 "Whitespace removed near {{#ulist}} element"
**Describe the bug**
Whitespace near {{#ulist}} in `grammar.tem.md` is removed when `sample.md` generated.

**To Reproduce**
Consider the following `grammar`.
[code]

This is rendered as:
[code]
The extra CRLF between the plain text "The commission..." and the `{{#ulist}}` is removed.

Attempts to **force** the extra line with double spaces (`"  "`), newline (`"/n"`) and (`"\"`) failed.

**Expecte

[2020-08-17 13:03] jeromesimeon commented on #289
The parser/drafter engine does not attempt to preserve non-significant (in the sense of that the difference you show here will not make any difference on the rendered document) whitespace. What's your usecase?

[2020-08-17 13:06] jeromesimeon commented on #289
To explain what I mean by that whitespace (those newlines) aren't significant. You can see that the rendering does not change whether you have new lines or not.

![ListWhitespace](https://user-images.githubusercontent.com/670099/90399410-e4ea4380-e068-11ea-9abf-badb716be319.gif)

[2020-08-17 13:09] jeromesimeon commented on #288
That's a serious bug in the new parser (most likely originating from the templatemark plugin). I'm labelling this as a critical bug. I'll look at it ASAP.

Thanks for the report!

[2020-08-17 13:59] martinhalford commented on #289
Looks like this is "by design" so closing this issue.

[2020-08-17 13:59] #289 closed

[2020-08-18 13:16] martinhalford opened #290 "{{#optional}} variables do not render in 'draft' when --unquoteVariables flag present."
**Describe the bug**
For template models using {{#optional}} variables, an exception `Cannot read property 'replace' of undefined` is thrown during `draft` command if `--unquoteVariables` flag is present.

**To Reproduce**
Consider the following template archive.

[empty-contract-cta.zip](https://github.com/accordproject/markdown-transform/files/5090572/empty-contract-cta.zip)

model.cto
[code]
gr

[2020-08-22 00:08] jeromesimeon opened #294 "Pdf generation breaks on the new Optional template blocks"
**Describe the bug**
Pdf generation fails when applied to a CiceroMark containing `Optional` nodes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attached zip, containing a sample/template and corresponding data and CiceroMark
2. Call the transform with: `markus transform --from ciceromark_parsed --to pdf --input ciceromark_parsed.json`
3.See error:
[code]

**Expected behavior**
P

[2020-08-22 00:19] jeromesimeon opened #295 "Pdf generation breaks on conditional template blocks containing markdown"
**Describe the bug**
Pdf generation fails when applied to a CiceroMark containing `Conditional` nodes with markdown in the conditional text.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attached zip, containing a sample/template and corresponding data and CiceroMark
2. Call the transform with: `markus transform --from ciceromark_parsed --to pdf --input ciceromark_parsed.json`
3.S

[2020-08-22 00:35] #294 closed, assigned to jeromesimeon

[2020-08-22 00:36] #295 closed, assigned to jeromesimeon

[2020-08-23 06:12] martinhalford opened #298 "Markus Transform to PDF does not render images embedded within unordered list."
**Describe the bug**

Markus PDF transform renders embedded images okay *except* when these images are embedded in an unordered list.

Consider the following TemplateMark syntax.
[code]
This markdown renders in Templatemark dingus as follows:

![image](https://user-images.githubusercontent.com/970336/90972130-c351f600-e559-11ea-845d-b82d150820f5.png)

However, after executing `$ markus transform -

[2020-08-25 13:41] dselman opened #299 "Multiline block quote loses linefeed in PDF"
When a contract contains multiline block quotes the line feeds between lines are lost in the generated PDF.

**To Reproduce**
1. Convert the attached markdown file to a PDF:

[contract-5f4513931f0dca001b5aff0c-2020-08-25T13_37_44.813Z.md.zip](https://github.com/accordproject/markdown-transform/files/5124043/contract-5f4513931f0dca001b5aff0c-2020-08-25T13_37_44.813Z.md.zip)

![Screenshot 2020-08-25

[2020-08-25 14:15] jeromesimeon commented on #299
Not fully substantiated claim: this is an issue with the editor not with the pdf rendering.

<img width="1245" alt="Screenshot 2020-08-25 at 10 14 35 AM" src="https://user-images.githubusercontent.com/670099/91185485-e399c600-e6bb-11ea-8a88-9b213561a577.png">

[2020-08-25 14:20] jeromesimeon commented on #299
With hardbreaks:

<img width="1249" alt="Screenshot 2020-08-25 at 10 16 21 AM" src="https://user-images.githubusercontent.com/670099/91185605-0d52ed00-e6bc-11ea-9367-3f3ecde73b67.png">

[code]

[foo.pdf](https://github.com/accordproject/markdown-transform/files/5124240/foo.pdf)

[2020-08-25 14:20] jeromesimeon commented on #299
See also: https://github.com/accordproject/web-components/issues/153

[2020-08-25 14:38] jeromesimeon commented on #299
I should have looked inside the markdown file. This definitely should be rendered in pdf as two paragraphs:
<img width="1255" alt="Screenshot 2020-08-25 at 10 38 15 AM" src="https://user-images.githubusercontent.com/670099/91188272-1c876a00-e6bf-11ea-8e2c-a1e7e7ef32e7.png">

[2020-08-26 19:37] #290 closed

[2020-08-26 19:38] jeromesimeon commented on #290
Closing. Please reopen (or open a new issue) if any further problem.

[2020-08-26 22:35] jeromesimeon opened #301 "HTML inlines and blocks are not properly parsed in the Dingus"
**Describe the bug**
HTML inlines and HTML blocks are not parsed in the Dingus when using the `ciceromark` or `templatemark` option.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://templatemark-dingus.netlify.app
2. Enter `<foo/>`
3. Click on the `tokens` tab on the right
4. See error:

<img width="1251" alt="Screenshot 2020-08-26 at 6 33 55 PM" src="https://user-images.githubu

[2020-08-26 22:40] jeromesimeon commented on #301
Fixed in #302

[2020-08-26 22:40] #301 closed

[2020-08-27 21:55] dselman opened #304 "Failed to find AccordClause for a template"
The template below doesn't parse using Cicero 0.21.4

[signature-block-title-name-date.zip](https://github.com/accordproject/markdown-transform/files/5138948/signature-block-title-name-date.zip)

It fails with the error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Unzip
2. Run `cicero parse`

**Expected behavior**
The template should parse (I think!) because it contains a

[2020-08-27 22:29] jeromesimeon commented on #304
We should leave this issue open, but this version of the same template works. Changing the namespace in `./model/model.cto` from `namespace org.accordproject.signature` to `namespace org.accordproject.signature.detailed` avoiding a collision with the namespace in `https://models.accordproject.org/signature/signature.cto`

[signature-block-title-name-date.zip](https://github.com/accordproject/markd

[2020-08-27 22:32] jeromesimeon commented on #304
A bit of diagnosis for future consideration:
- Finding the "right" class deriving from `AccordClause` or `AccordContract` in the context of a hierarchy isn't particularly easy -- making that magic rather than specified by the user is a bit of a trade off.
- We should provide a better error message in Concerto when there are namespace collision (it's currently not an error)
- We should ensure that

[2020-08-28 15:37] jeromesimeon commented on #254
Fixed in #306

[code]

[2020-08-28 15:37] #254 closed

[2020-08-28 15:40] jeromesimeon commented on #288
Should now be fixed. See PR #300

[2020-08-28 16:59] jeromesimeon commented on #299
Fixed in #307

[2020-08-28 16:59] #299 closed

[2020-08-28 16:59] jeromesimeon commented on #298
Fixed in #307

[2020-08-28 16:59] #298 closed

[2020-08-29 16:08] jeromesimeon opened #309 "CLI markdown to commonmark transform uses wrong tokenizer"
**Describe the bug**
`markdown` to `commonmark` transform wrongly uses the templatemark `markdownt-it` extension.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2020-08-29 16:12] jeromesimeon opened #310 "Support roundtrip between markdown for templates and templatemark"
**Is your feature request related to a problem? Please describe.**
Currently we can only roundtrip plain markdown or markdown for Cicero. It would be useful to support creation of a template grammar from a TemplateMark DOM.

**Describe the solution you'd like**
A `templatemark` to `markdown_template` transform, extending the one for plain markdown.

**Additional context**
Also useful for "design m

[2020-08-29 18:58] jeromesimeon commented on #260
I'm unclear if we want to support external links for images. @dselman @DianaLease any opinion?

[2020-08-29 18:59] jeromesimeon commented on #309
Fixed in #311

[2020-08-29 18:59] #309 closed

[2020-08-29 19:01] jeromesimeon commented on #271
This should be fixed by #308 I believe?

[2020-08-29 19:31] jeromesimeon commented on #271
Not out of the box... `pdf2json` links to `pdfjs` leading to that error:
[code]

There is documentation for using `pdfjs` in the browser here: https://github.com/mozilla/pdf.js/wiki/Setup-pdf.js-in-a-website

But I'm unsure how to set that up properly through `pdf2json`. Maybe needs a webpack guru to tell whether it's possible and how.

[2020-08-29 19:38] jeromesimeon opened #312 "Pdf conversion fails on some unicode examples"
**Describe the bug**
Transform to pdf for some input markdown with Unicode seems to fail.

**To Reproduce**

[code]

[2020-08-29 19:39] #312 closed

[2020-08-29 19:40] jeromesimeon commented on #312
Actually works fine if you use the correct command:
[code]

[test.pdf](https://github.com/accordproject/markdown-transform/files/5145916/test.pdf)

[2020-08-30 05:04] martinhalford commented on #260
@dselman  @jeromesimeon  @DianaLease

If external links for images are not to be supported for `markdown-pdf` then the only way to include images within a contract that uses `markdown-pdf` is via embedded images.

This is fine if images are static (such as logos etc.) which can be embedded within the `grammar.tem.md` but not so easy for dynamic images that form part of the contract data.

Like man

[2020-08-30 22:15] jeromesimeon opened #313 "Roundtripping issue for ordered lists with a non-default initial index"
**Describe the bug**
Ordered lists with a non-default initial index (e.g., `5. this is the first item`) follow different boundaries rules from ordered lists with a default initial index (e.g., `1. this is the first item`) and do not properly round trip.

**To Reproduce**
[code]

Note that for a non-default index, the roundtrip should have two new lines:

<img width="1363" alt="Screenshot 2020-08-3

[2020-08-31 12:23] #310 closed

[2020-08-31 18:22] jeromesimeon opened #314 "pdf import loses whitespace in some cases"
**Describe the bug**
Transforming pdf to commonmark loses whitespace in some instances.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `./markdown-transform/packages/markdown-pdf
2. Test with the Land sale contract:
[code]
3. The input is:
<img width="914" alt="Screenshot 2020-08-31 at 2 20 24 PM" src="https://user-images.githubusercontent.com/670099/91753046-4942f200-eb95-11ea-9cc4-5

[2020-08-31 18:38] DianaLease commented on #314
This is the issue from the `pdf2json` library we are using that @dselman mentioned: https://github.com/modesty/pdf2json/issues/94

[2020-09-02 15:11] dselman commented on #314
Please retest once https://github.com/accordproject/markdown-transform/pull/315 is merged.

[2020-09-03 03:45] martinhalford opened #316 "Block Expressions throw exception if Markdown syntax detected."
**Describe the bug**
Block Expressions throw an error if markdown syntax detected within block.

**To Reproduce**
Consider the following grammar...

[code]
The above renders fine.

Now consider the following grammar...
[code]
The above fails with `error: Cannot read property 'length' of undefined` due to the `-` chars which are interpreted as unordered list syntax.

Now consider the following gram

[2020-09-04 15:01] jeromesimeon commented on #316
Thanks again for the detailed report, @martinhalford. Just a couple of clarifications for the purpose of issue triaging this:

1.  _some_ markdown is allowed inside conditionals (and join/optional/etc), but is limited to commonmark inlines (i.e., strong/emph/code/html inlines). If the text spans multiple commonmark blocks (i.e., multiple paragraphs, lists, block quotes) the template conditionals/o

[2020-09-04 15:03] jeromesimeon commented on #316
2. The behaviour is expected to be similar to the one for the inlines markup (like emphasis) i.e., it should gracefully fall back to text parsing (as with emphasis in the example above) rather than raise an error. This is meant to remain consistent with the very first line in the [commonmark spec](https://spec.commonmark.org/0.29/#preliminaries):

[2020-09-04 15:07] jeromesimeon commented on #316
3.  Note that the reason for the error, isn't quite due to wrongly parsing the block-level markdown, but likely due to faulty logic handling closing tags (or missing closing tag since `{{/if}}` isn't present, within a single block. Likely fixes should happen in the following part of the `markdown-it-cicero` and `markdown-it-template` plugins:
- https://github.com/accordproject/markdown-transform/b

[2020-09-06 05:39] martinhalford commented on #316
Thanks @jeromesimeon - I kinda expected that the new line would throw an error and, indeed, this can be mitigated by added a `\` to the paragraph, and that then works fine.  If the `-` and other unsupported markdown syntax could revert to plain text then that would be great!

[2020-09-06 08:32] martinhalford opened #318 "Support for AM/PM in DateTime variable formats"
**Is your feature request related to a problem? Please describe.**
Currently, it is only possible to display DateTime variables in 24 Hr format (e.g. 15:00) whereas some end-users may expect to see times displayed in AM/PM format (e.g. 3:00 pm).

**Describe the solution you'd like**
Current DateTime format options are defined at [https://docs.accordproject.org/docs/markup-variables.html](https://d

[2020-09-06 22:11] jeromesimeon commented on #318
To stay aligned with moment.js we should probably use `a` `A` along with `h` `hh` if we want to support this. I'm curious about the single "A" or "P" I have never seen that used before.

Note that we do support 12-hours values from 1 to 12 with `h` and `hh`

[2020-09-07 01:19] martinhalford commented on #318
Hi @jeromesimeon,  As an old .NET C# developer, `t` and `tt` were what we used for AM/PM designators. To be fair, I only ever used `tt` as, like you, I never saw `A` or `P` used anywhere.  However, the language supported it (for whatever reason).

https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#tSpecifier

Anyway...it was just a suggestion.  If `mome

[2020-09-09 17:38] jeromesimeon commented on #288
This very issue also affects `markdown-it-cicero` in the case where some contract contains nested clauses. I'm reopening for that reason.

[2020-09-10 12:21] jeromesimeon commented on #318
https://www.npl.co.uk/resources/q-a/is-midnight-12am-or-12pm

[2020-09-10 13:02] jeromesimeon commented on #318
Added in #319

Semantics notes:
- 12:14am on a Tuesday is 00:14 on that Tuesday
- 12:00am on a Tuesday is 00:00 on that Tuesday
- 12:00pm on a Tuesday is 12:00 (noon) on that Tuesday

[2020-09-10 20:22] jeromesimeon opened #321 "Offline support for CLI and transform when processing templates"
**Is your feature request related to a problem? Please describe.**
When processing template which require a model: support both external model resolution and an offline mode (where all the models are assumed to be available locally). It would be useful is that could be exposed to the CLI.

**Describe the solution you'd like**
The ability to use the `markus` CLI when offline and all models are loca

[2020-09-10 20:26] jeromesimeon commented on #321
Offline support added in #320

[2020-09-10 20:26] #321 closed

[2020-09-10 20:27] jeromesimeon commented on #314
Addressed (to some extent) in #315

[2020-09-10 20:27] #314 closed

[2020-09-11 23:28] jeromesimeon opened #323 "Nested clauses in markdown_cicero do not parse properly"
**Describe the bug**
When parsing a markdown with cicero extension, the parser does not handle a clause contains another clause properly.

**To Reproduce**

In the following test, notice the end of the outer clause and the trailing ending clause as a text node.
[code]

### Related
- This is a sister issue of #288

[2020-09-11 23:32] jeromesimeon commented on #288
Filed as #323

[2020-09-11 23:32] #288 closed

[2020-09-11 23:43] jeromesimeon commented on #323
Fixed in #324

[2020-09-11 23:43] #323 closed

[2020-09-14 14:23] jeromesimeon commented on #316
A few minimal tests for this issue, for convenience.

[mini.zip](https://github.com/accordproject/markdown-transform/files/5219048/mini.zip)

[2020-09-14 14:27] jeromesimeon opened #326 "Hard line breaks do not roundtrip with HTML transform"
**Describe the bug**
When handling markdown with hard line breaks, the HTML transform looses those line breaks.

**To Reproduce**

[code]

[2020-09-14 17:02] #326 closed

[2020-09-15 18:36] jeromesimeon commented on #318
Release in https://github.com/accordproject/cicero/releases/tag/v0.21.7 Let me know if it works.

[2020-09-16 14:29] dselman opened #330 "Allow variable specific PDF styles"
It would be useful to be able to style different named variables differently, based on the variable name.

**Describe the solution you'd like**
Place a Concerto decorator on the model element for the Variable, specifying the style name to use for PDF generation.

**Additional context**
Useful for handling signature blocks.

[2020-09-16 15:27] dselman commented on #330
Implemented

[2020-09-16 15:27] #330 closed

[2020-09-16 15:28] dselman commented on #249
Implemented.

[2020-09-16 15:28] #249 closed

[2020-09-17 19:02] jeromesimeon opened #332 "YY format in dates does not parse properly"
To reproduce. e.g., here in template studio:
<img width="1420" alt="Screenshot 2020-09-17 at 3 01 32 PM" src="https://user-images.githubusercontent.com/670099/93515520-b7f2b000-f8f6-11ea-88b4-ae4ca5358d60.png">

For the grammar:
<img width="1070" alt="Screenshot 2020-09-17 at 3 01 41 PM" src="https://user-images.githubusercontent.com/670099/93515527-bcb76400-f8f6-11ea-922c-6023b3076c50.png">

[2020-09-17 19:02] jeromesimeon commented on #332
^^^ @DianaLease

[2020-09-18 14:46] jeromesimeon commented on #332
much easier. it's only about removing it from the documentation as well. Leaving this issue open until the new documentation is out.

[2020-09-18 16:37] DianaLease commented on #332
Sounds reasonable to me!

[2020-09-21 08:17] dselman commented on #260
Implemented.

[2020-09-21 08:17] #260 closed

[2020-09-21 08:18] dselman commented on #247
@DianaLease @irmerk what is the status of this please? Is there something I can do?

[2020-09-21 08:19] dselman commented on #151
@jeromesimeon can this be closed?

[2020-09-21 13:13] #318 closed

[2020-09-21 13:21] martinhalford commented on #318
@jeromesimeon - We are using this new AM/PM format in our real estate contract templates now.  Works like a charm! Thank you!!

![image](https://user-images.githubusercontent.com/970336/93771566-08ed0600-fc61-11ea-8279-797bf379c149.png)

[2020-09-21 14:38] jeromesimeon opened #335 "pdf generation doesn't handle complicated headings properly"
**Describe the bug**
Transform to pdf does not handle heading with complex content properly, losing some of the content and internal markup.
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Try to transform the following markdown to pdf:
[code]

Using Markus:
[code]

This results in the following pdf:
[test.pdf](https://github.com/accordproject

[2020-09-21 14:40] irmerk commented on #247
The work for supporting this transform is captured in the [`algoo-ooxml`](https://github.com/accordproject/markdown-transform/tree/algoo-ooxml) branch.

@algomaster99 are you able to update on this?

[2020-09-21 15:32] jeromesimeon opened #336 "Tests do not run the linter by default"
The top-level tests do not run the linter by default, which means linting issues do not trip the CI on PRs.

For instance, this PR #334 passes the tests, but running the tests in the `markdown-pdf` package fails:
[code]

[2020-09-21 19:19] jeromesimeon commented on #336
Fixed in #337

[2020-09-21 19:19] #336 closed

[2020-09-21 19:20] jeromesimeon commented on #335
Fixed in #337

Fix handles table of content. For instance on the new `test/data/contract.md`

Containing a heading 2:
[code]

Properly generates a TOC:

<img width="882" alt="Screenshot 2020-09-21 at 3 16 00 PM" src="https://user-images.githubusercontent.com/670099/93811338-fdc4b680-fc1d-11ea-8fbd-c5f03f27c407.png">

[2020-09-21 19:32] #335 closed

[2020-09-21 19:32] jeromesimeon commented on #160
meh

[2020-09-21 19:32] #160 closed

[2020-09-21 19:34] jeromesimeon commented on #151
I always interpreted this issue as encompassing `grammar -> Slate` transform as well. Which is technically still open. We could close this issue which isn't entirely clear and open a new one. @irmerk ?

[2020-09-21 21:19] irmerk commented on #151
Unsure, it sounds like it though? I'm not clear on if going from a template `grammar` or `sample` to a Slate DOM with `wrapVariables: true` is possible now.

[2020-09-21 21:22] jeromesimeon commented on #151
`wrapVariables: true` does not exist anymore. But:
- going from `sample` to Slate DOM does exist.
- Going from `grammar` to Slate DOM does not exist (but would be needed if we want to do "design mode").

[2020-09-22 15:29] algomaster99 commented on #247
The branch [`algoo-ooxml`](https://github.com/accordproject/markdown-transform/tree/algoo-ooxml) currently only comprises of `OOXML -> CiceroMark` transformer and it has only been perfected for `acceptance-of-delivery@0.14.0`.

### Currently parsed entities

It transfers the following OOXML entities into CiceroMark:

1. There are two types of `w:p`. One is a heading the other is an actually paragr

[2020-09-22 19:14] irmerk commented on #151
Happy to close this, but am not sure I understand the requirement enough to make a refined/updated issue. @jeromesimeon would you mind?

[2020-09-22 19:50] jeromesimeon commented on #151
hm. It would be useful to have at least a discussion about "design mode". Will we do it or not and if yes in which form.

[2020-09-22 19:53] jeromesimeon opened #338 "Transform between TemplateMark and Slate DOM"
**Is your feature request related to a problem? Please describe.**
The ability to create a Slate DOM from a template grammar rather than a contract (i.e., from TemplateMark rather than CiceroMark). The ability to transform the corresponding Slate DOM back to template mark (roundtrip).

**Describe the solution you'd like**
- A pair of transforms parallel to the CiceroMark <-> Slate DOM one but for

[2020-09-22 19:54] jeromesimeon commented on #151
Closing this, replaced by newer #338

[2020-09-22 19:54] #151 closed

[2020-09-30 18:28] jeromesimeon commented on #332
`YY` is not longer a supported format (see https://docs.accordproject.org/docs/markup-templatemark.html#datetime-variables)

[2020-09-30 18:28] #332 closed

[2020-09-30 19:26] jeromesimeon commented on #316
More tests for this based on the issuer's example
[inlines.zip](https://github.com/accordproject/markdown-transform/files/5307803/inlines.zip)

With the fix in #341

- closing inline blocks (e.g., `{{/with}}`) without a matching opening inline block (e.g., `{{#with}}` will not raise an error anymore but be treated as text
- opening inline blocks (e.g., `{{#with}`) without a matching closing inline

[2020-09-30 19:30] jeromesimeon commented on #316
Note: The rule for `{{#if}}` being only an inline (i.e., it cannot span multiple markdown container blocks) still applies.

[2020-09-30 19:33] jeromesimeon commented on #316
Example of the `draft` command on the third template before #316:

[code]

Example of the `draft` command on the third template after #316:
[code]

[2020-10-22 08:58] martinhalford opened #345 "Cannot format {{this}} within {{#optional}} block"
Consider the following grammar:
[code]
where `dueDate` is defined in the model as:
[code]
The draft output is:
[code]

It looks like the formatting for the DateTime variable was applied for the first line in the grammar but ignored for the second line in the grammar where the variable is referenced via `{{this}}`.

It would be nice if optional variables could be formatted using the above syntax.

[2020-10-23 00:52] martinhalford opened #346 "Function "format" not available within Ergo Expression"
Consider the following grammar:
[code]
where dueDate is defined in the model as:
[code]
The output is:
[code]
Other functions, such as `toString` work fine.

Would be nice if we could format DateTime variables within Ergo Expression blocks.

Also.... note that, even though it is not needed, the Ergo syntax *must* have an `else` clause, otherwise the compiler throws a parser error.

For examples, t

[2020-10-23 12:32] jeromesimeon commented on #346
Moving this issue to Cicero, if you don't mind.

[2020-12-03 01:04] OliverTod opened #348 "Extend TemplateMark to support admonitions"
As discussed on the weekly tech WG calls on [2020-11-18](https://vimeo.com/486358914) and [2020-11-25](https://vimeo.com/486359447) - I have proposed a annotation feature that allows lawyers, parties and counterparties to easily include notes to themselves/each other in the template text.

This already exists in many common markdown extensions as 'admonitions' (also called call-outs) - which is ge

[2020-12-03 01:13] OliverTod opened #349 "Extend TemplateMark to support 'front meta-data'"
On the weekly tech WG calls on 2020-11-18, a front meta-data feature was discussed and proposed for adoption. This would work similarly to the ['header' functionality](https://v2.docusaurus.io/docs/markdown-features/#markdown-headers) in docusaurus.

[2020-12-03 22:31] OliverTod commented on #196
My understanding of this might be overly simplistic (sorry!), but I would have thought that most of the benefits of a DMN table (as set out above) can be easily achieved using the existing framework of variables and match statements.

That is:
in the template/instance, you could simply have a table that looks like this:
|   {{variable name}}      |   {{variable value}}     |
|   {{variable2 name}}

[2020-12-10 01:55] OliverTod opened #350 "Support cross-referencing within the template text"
**Feature request**:
Based on the existing practice of using [automatic cross references in MSword](https://wordaddins.com/support/cross-reference-fields-in-word/), it would be good to have a way to easily and dynamically cross reference within the contract text. This could be references to a heading (for example, the title of the document, a schedule or a clause), a specific numbered paragraph or

[2020-12-10 13:39] irmerk commented on #350
The first thought I had when this was presented in the working group call was how markdown supports the format for links:
[code]

And the `[linkReference1]: www.something.com` does not render. Maybe this could help us with creating and storing internal references @jeromesimeon?

[2021-02-12 15:25] jeromesimeon opened #360 "Transform from Accord Project templates to pdf forms"
Currently we can generate pdf from Accord Project _contracts_. It would be nice if we could generate a pdf *form* from a template.

The idea would be to generate form field for Accord Project template variables. A user could then fill in the content of the form directly within pdf.

This could work well along with the ability to maintain Accord Project metadata within the form, maybe along the lin

[2021-03-02 16:14] dselman opened #362 "Preserve whitespace between Slate and CiceroMark"
# Feature Request 🛍️

When the user is editing using the Slate editor they are free to insert blank paragraphs to add additional whitespace to their documents. This whitespace is currently lost when the Slate DOM is converted to CiceroMark (which happens when you copy/paste the contents to convert it to HTML.)

## Use Case
Allows users to have whitespace within their documents.

## Possible Soluti

[2021-03-02 16:16] dselman commented on #362
Using this input Slate document:

[code]

And running:

[code]

The following HTML is produced:

[code]

Showing that the Slate paragraph containing an empty text node got removed during the transformation from Slate to `ciceromark_parsed`.

[2021-03-18 05:19] d-e-v-esh opened #363 "Outdated documentation in markdown-cli"
# Bug Report 🐛

The documentation in the `readme` of [markdown-cli](https://github.com/accordproject/markdown-transform/tree/master/packages/markdown-cli) repository is outdated.
The commands listed there like `draft` and `parse` do not work. See comments on [this](https://github.com/accordproject/web-components/issues/175) issue for more context.

## Possible Solution

A possible solution would b

[2021-03-19 08:24] mttrbrts opened #364 "Migrate CI/CD to GitHub Actions"
As described in accordproject/technical-steering-committee#4

Please follow the conventions in accordproject/concerto#236

   - [x] Remove secrets from Travis (for AP maintainers: in Travis Repository Settings)
   - [x] Disable Travis in the configuration (for AP maintainers: Travis Personal Profile > Settings > Accord Project
   - [x] Remove `.travis.yml` and `.travis` directories in repo
   - [x

[2021-03-19 09:30] Rupesh-2003 commented on #364
@mttrbrts  I would like to work on this issue

[2021-03-19 14:28] mttrbrts commented on #364
My apologies @Rupesh-2003, it seems that @jeromesimeon was pretty fast on this one!
https://github.com/accordproject/markdown-transform/pull/365

[2021-03-19 16:44] #364 closed

[2021-03-19 17:41] jeromesimeon commented on #364
@Rupesh-2003 it was already done (mostly) so I only had to update with the latest versions of the script from Concerto. Thanks for offering to help!

[2021-03-25 13:53] d-e-v-esh opened #368 "Implementing Underline Functionality"
# Feature Request 🛍️

Markdown natively doesn't support underline so we need to figure out a different way to include and implement this feature.

This issue is the successor of https://github.com/accordproject/web-components/issues/28

[2021-03-25 14:10] jeromesimeon commented on #368
Or maybe _not_ implement it?

[2021-03-25 14:11] dselman commented on #368
A good one to get legal input on at a WG call perhaps?

[2021-03-25 14:12] jeromesimeon commented on #368
yes I like that! I'll schedule.

[2021-03-25 14:14] jeromesimeon commented on #368
Maybe useful to not schedule it in isolation, but in a session where people express preferences so we can prioritise. Along the lines of:

etc. ?

[2021-03-29 13:31] K-Kumar-01 opened #378 "Validator field for the variable type"
# Feature Request 🛍️

Currently, the JSON schema that is generated by parsing a template does not contain any validator field for a particular variable. It would be really handy there is a validator key in the JSON object

Current object:
[code]

Requested :
[code]

## Use Case

This would ensure the entering of bad data in the variable field in certain circumstances

[2021-03-31 12:49] Cronus1007 commented on #226
@DianaLease Any opinion regarding `[linkedom](https://www.npmjs.com/package/linkedom)`. JSDOM can be replaced with it.

[2021-03-31 15:52] jolanglinais opened #371 "Variable Name Conflicts"
# Bug Report 🐛
In some cases, editing one variable within `web-components` will edit another variable making it impossible to distinguish them

## Expected Behavior
Update to a variable should be propagated to the same variable in other places in the document, but not to different variables

## Current Behavior
Example with the copyright license template:
![MEandYOU](https://user-images.githubuser

[2021-03-31 15:53] irmerk commented on #371
@jeromesimeon and @dselman can provide more context on this Issue.

[2021-03-31 16:07] jeromesimeon commented on #371
I want to bounce this back to `web-components` 😛

[2021-04-01 16:16] irmerk commented on #371
I would like to refer you to your own comment here https://github.com/accordproject/web-components/issues/197#issuecomment-694903715 😛

[2021-04-02 15:20] jeromesimeon opened #372 "Parsing amounts does not validate with Concerto 1.0"
Parsing amounts returns an array of Double values rather than a single Double, which means it fails with the new strict validation in Concerto 1.0. Technically, this should be considered a pre-existing bug exposed by the new validation.

Example:

**CTO**
[code]

**Text**
[code]

Output JSON is:
[code]

(which no longer validates) instead of the expected:

[code]

[2021-04-02 16:53] #363 closed

[2021-04-02 18:46] #372 closed

[2021-04-03 05:54] nishihere19 opened #375 "Error while running dingus locally in Windows"
# Bug Report 🐛

When trying to run dingus locally on Windows, the following error is received.
![package json - Projects - Visual Studio Code 02-04-2021 14_27_16 (2)](https://user-images.githubusercontent.com/63252119/113469633-b9d42900-946c-11eb-88bc-eed85a665398.png)

## Expected Behavior

The command must be executed and dingus should run locally on Windows.
## Current Behavior

The path is not

[2021-05-01 13:32] jeromesimeon opened #392 "Pdf rendering does not work for conditional or optional variables"
# Bug Report 🐛

## Expected Behavior

Properly generates pdf with optional variable content.

## Current Behavior

Optional or conditional content does not appear in the pdf.

## Possible Solution
Creates a `stack` object in pdfmake format which pdfmake ignores.

## Steps to Reproduce

Go to the `latedeliveryandpenalty` clause.

Use the markdown transform to parse the clause text and render it to

[2021-05-10 14:11] #392 closed

[2021-05-27 10:41] K-Kumar-01 opened #397 "CiceroMark<->OOXML transformers"
# Feature Request 🛍️

Incorporating the CiceroMark->OOXML transformer and improving the currently implemented OOXML->CiceroMark transformer.

## Use Case

It will allow the conversion of Docx files into CiceroMark JSON and vice versa. In addition, using this `Docx` files can be converted into different other formats like `PDF` or `HTML` as well.

## Possible Solution

The transformer for OOXML->Ci

[2021-05-27 10:43] K-Kumar-01 commented on #247
@dselman @algomaster99
I have created a new issue depicting the implemented and left transformations. Let me know if there is anything to add.
The issue is mentioned [here](https://github.com/accordproject/markdown-transform/issues/397).

[2021-05-27 13:56] algomaster99 commented on #397
Clause
Conditional
Optional
Strong
BlockQuote
CodeBlock
Code
ThematicBreak
Link
Image

Create a checkbox for this. It will be easier to track.

Do raise this up in the meeting tomorrow :)

Since you have created the table, don't forget to link this to the next wiki page you will write.

[2021-05-27 14:59] OliverTod opened #398 "Cicero Draft normalises indents to 3 spaces instead of the standard 4"
**Describe the bug**
Running cicero draft over a template grammar file to create a sample.md file results in indents being normalised to only having three spaces. This can result in inconsistencies in certain implementations where a list item were intended to be sublists but are instead normalised to being on the same level.

From the [CommonMark standard](https://spec.commonmark.org/0.29/#lists):

[2021-05-30 09:20] algomaster99 commented on #397
Will you also be maintaining the OOXML counterpart? I recommend so.

[2021-05-30 09:52] K-Kumar-01 commented on #397
Yeah, I will also maintain them as we start writing the transformer for it.

[2021-06-11 16:27] algomaster99 opened #403 "Use mocha instead of jest in `markdown-docx`"
# Feature Request 🛍️

Use `mocha` to execute tests in `markdown-docx` instead of `jest `.

## Use Case

Mocha gives a clearer output of what tests passed. Eg.
**Mocha**
![Screenshot from 2021-06-11 21-55-17](https://user-images.githubusercontent.com/35191225/121718253-bcec3500-caff-11eb-8432-f60a5b2f8ea9.png)
**Jest**
![Screenshot from 2021-06-11 21-56-07](https://user-images.githubusercontent.com

[2021-06-12 10:56] K-Kumar-01 opened #405 "Formatter configuration"
# Feature Request 🛍️

Add a formatter (prettier or any other) configuration to the codebase which is consistent with the `eslint-configuration` and introduces as few as possible linting changes.

## Use Case

Formatting the codebase with formatted will improve the spacing which will improve the readability of the code.

## Possible Solution

Can use prettier with some manual config file for the sa

[2021-06-12 18:01] K-Kumar-01 commented on #403
@algomaster99
I was able to convert all but one test file to run with mocha. It is primarily due to the fact that it uses a snapshot test.
![Screenshot from 2021-06-12 23-25-29](https://user-images.githubusercontent.com/59891164/121785114-7f59db80-cbd5-11eb-9b46-1e8063f3dd6a.png)
![Screenshot from 2021-06-12 23-23-40](https://user-images.githubusercontent.com/59891164/121785061-44f03e80-cbd5-11eb-

[2021-06-12 18:20] algomaster99 commented on #403
Don't add this package. Instead, skip that test. I am quite sure that the `DocxTransformer` will be deleted in the future.

[2021-06-13 21:42] K-Kumar-01 opened #407 "Refactor: Tests"
# Discussion 🗣

The code written for tests in `markdown-docx`  is repeated in many places. Refactor the code so that it follows the `DRY` principle.

## Context

In `OoxmlTransformer.test.js` and `CiceroMarkToOOXMLRoundTrip.test.js` the code logic is repeated.

[2021-06-14 10:56] #403 closed

[2021-06-14 20:36] #407 closed

[2021-06-16 09:13] martinhalford commented on #345
Bonus issue:

For an `optional` DateTime variable defined as:

[code]
...when attempting to use the `format` command, like so:

[code]
...then following error is thrown:
[code]

[2021-06-16 10:44] jeromesimeon commented on #345
That one doesn't look like an issue, but rather like a proper type error?

[2021-06-16 11:56] K-Kumar-01 commented on #397
@algomaster99 @dselman
A doubt regarding the variable transformer.
![Screenshot from 2021-06-16 17-12-25](https://user-images.githubusercontent.com/59891164/122213047-27b5bb80-cec6-11eb-8a0f-803ebb160f11.png)
When we rendered in the add-in, some variables had extra quotation marks. For more reference see [here](https://github.com/accordproject/cicero-word-add-in/issues/39). The quotation marks wer

[2021-06-16 12:49] algomaster99 commented on #397
Where did you get the CiceroMark for testing? If you got it from a latest template, change the variable transformer to enclose variables in `""`.

[2021-06-16 13:16] K-Kumar-01 commented on #397
@algomaster99
I got it from `acceptance-of-delivery.json`.
As for variable transformer do you mean `CiceroMarkToOOXML` or `OOXMLtoCiceroMark`.
We strip off quotation marks in the former one.
Also, enclosing variable values in `""` in the latter won't make sense as variables which are of type `DateTime, Number, etc` don't have quotes around them.

[2021-06-16 13:24] algomaster99 commented on #397
First of all, that `acceptance-of-delivery.json` is parsed from an older version of the template. You might want to update that. Next, if the latest parsed CiceroMark still encloses its variables in `""`, you don't need to add extra code for enclosing the value in `""` or stripping them off `""` because when you will be iterating through the CiceroMark, you will get the value as `"\"Party A\" "` a

[2021-06-16 13:28] K-Kumar-01 commented on #397
@algomaster99

The main reason was that some variable values had `""`wrapped and some not. The `""`was wrapped around basically in strings. So I thought it might have been unintentional and that they could have been inserted while transforming by mistake.

[2021-06-16 13:29] K-Kumar-01 commented on #397
@algomaster99
I will keep the values as it is in the transformers

[2021-06-16 13:30] algomaster99 commented on #397
Exactly my point :)

[2021-06-18 15:43] algomaster99 opened #415 "Requirement of attributes in `<w:document>` tag"
# Discussion 🗣

Is there a requirement for _so many_ attributes in `<w:document>` tag?
https://github.com/accordproject/markdown-transform/blob/3c3ddb42246ed2b61f59f36241d4aedc0459c52f/packages/markdown-docx/src/CiceroMarkToOOXML/helpers.js#L57-L86
## Context

I think [only one attribute](https://github.com/accordproject/cicero-word-add-in/blob/80189b0c52c7dfab2cc68278eee982a0bb686ebe/src/componen

[2021-06-19 01:06] algomaster99 opened #416 "Addition of OOXML transformers in the transformation graph in README"
# Feature Request 🛍️

The [transformation graph](https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-transform/transformations.png) should be updated in the `algo-ooxml` branch with the transformers @K-Kumar-01 is working on.

## Use Case

Broadcasts new features of `markus`.

## Possible Solution

Not sure. Probably have to start by looking at [architecture.puml](htt

[2021-06-19 13:53] K-Kumar-01 commented on #415
@algomaster99 Will research this and let you know. A bit busy these days.

[2021-06-22 08:29] algomaster99 commented on #397
@K-Kumar-01 from now, don't mention issue numbers in every commit you push. As you can see, it has cluttered this PR. I think mentioning the issue number should only be necessary for the PR title as your PRs are squashed anyway.

[2021-06-23 16:10] K-Kumar-01 commented on #397
@algomaster99 @dselman
There is no such thing as `blockquote` in ms-word. It basically involves styling a given paragraph. [Reference videos](https://www.youtube.com/results?search_query=blockquote+in+ms-word), [Styling Reference for shading](https://www.officetooltips.com/word_365/tips/how_to_use_paragraph_borders_and_shading.html).

So from these, can you decide some specifications for the block

[2021-06-25 17:20] jeromesimeon opened #419 "Incompatibility with recent versions of pdfjs"
# Bug Report 🐛

Recent versions of `pdfs` do not include `es5` build files anymore, which is inconsistent with how we import the library in the `markdown-pdf` package: https://github.com/accordproject/markdown-transform/blob/e9eddfb3f24431bfa56904699da4abbafebfabe1/packages/markdown-pdf/src/ToCiceroMark.js#L20

This means importing the `markdown-pdf` library may result in failures.

## Expected Be

[2021-06-28 09:14] #419 closed

[2021-07-02 10:53] K-Kumar-01 opened #422 "[Build] Failing builds due to network timeouts on model loading"
# Bug Report 🐛

Currently the build fails many times when a PR is made. A re-run is required many a times for this to pass successfully. The failure is due to [this line](https://github.com/accordproject/markdown-transform/blob/f861c6e99fb2fc1cee79e2f0ee8f09389801c8c1/packages/markdown-template/test/TemplateMarkTransformer.js#L174).
It involves fetching model but since azure(where the models are h

[2021-07-05 22:16] algomaster99 commented on #422
@dselman @K-Kumar-01 The change is required for [more test cases](https://github.com/accordproject/markdown-transform/runs/2971814927#step:6:17180) than expected. You can see the latest build on `master` is failing.

[2021-07-07 10:03] K-Kumar-01 commented on #422
@algomaster99
I think we would need to pass the `offline: true` option in all the instances where `loadModelManger` is used.

[2021-07-07 10:10] algomaster99 commented on #422
Right

[2021-07-07 10:12] K-Kumar-01 commented on #422
@dselman
`const modelManager = await ModelLoader.loadModelManager([modelFilePath]);`
Here, the third argument is the options one.
Could you tell about second argument.

I want to understand how to pass the third argument without passing the second argument/ passing the appropriate second argument.
Thanks in advance:)

[2021-07-28 15:37] tbrooke opened #431 "Unable to find module on npm install"
# Bug Report 🐛
npm install on OSX:
npm install -g @accordproject/markdown-cli

Error: Cannot find module 'pdfjs-dist/es5/build/pdf.js'
Require stack:

## Expected Behavior
install CLI
## Current Behavior
Full Print out of error
npm install -g @accordproject/markdown-cli
npm WARN deprecated request-promise-native@1.0.9: request-promise-native has been deprecated because it extends the now deprecate

[2021-08-03 17:19] K-Kumar-01 opened #433 "Template Signature in `ciceromark_parsed`"
# Feature Request 🛍️

Currently, the `ciceromark_parsed` does not contain the template signature. A template signature can be incorporated into the `ciceromark_parsed` to uniquely identify them.

## Use Case

This issue was raised with respect to #432. The major use is to uniquely identify the conversions `CiceroMark<->OOXML`.
`<w:sdt>` requires a unique id to distinguish itself. The template iden

[2021-08-03 17:31] K-Kumar-01 opened #434 "Styling of the clause block"
# Discussion 🗣

Currently, the transformation of the clause to `OOXML` looks like this.
![Clause](https://user-images.githubusercontent.com/59891164/127643914-ebc0f852-1ff2-4b75-8056-d82ed2b70ef6.png)
As visible from the image, the clause transformation is not visually distinguishable from the others as in case of `templatemark-dingus` or `contract-editor`.

Any ideas on how to distinguish the cla

[2021-08-04 07:47] algomaster99 commented on #433
We would probably need something like this. My suggestion may be wrong because I don' clearly understand the difference between a clause and a contract.

[code]

[2021-08-05 10:00] dselman commented on #434
I think wrapping it in the content control is sufficient.

[2021-08-05 10:02] dselman commented on #433
The `src` attribute on the `Clause` node contains the identifier for the template for the Clause:
https://github.com/accordproject/models/blob/master/src/markdown/ciceromark%400.3.1.cto#L53

[2021-08-05 10:04] dselman commented on #433
If you need to generate a stable id for a clause then I suggest you compute an SHA hash of the textual *content* of the clause (text or JSON data as a string).

See: https://www.nodejsera.com/snippets/nodejs/sha256-hash.html

[2021-08-05 10:09] dselman commented on #416
See the README for instructions on how to regenerate architecture.puml:
https://github.com/accordproject/markdown-transform/tree/master/packages/markdown-transform

[2021-08-05 10:15] K-Kumar-01 commented on #433
@dselman
We need the identifier for a whole template.
I will try to explain in simple words.
Let us assume that a user uses `cli` to transform `ciceromark_parsed` to `OOXML`. In this case, we do not have an identifier present. Currently, from the `templatemark-dingus` also there is no `identifier` present.

I see that this is optional, so how is there any flag which we need to pass.

[2021-08-05 10:33] algomaster99 commented on #416
Oh, I forgot to close this issue. @K-Kumar-01 has resolved this in the [algo-ooxml](https://github.com/accordproject/markdown-transform/tree/algoo-ooxml) branch.

[2021-08-05 10:33] #416 closed

[2021-08-09 13:15] K-Kumar-01 opened #439 "Removal Container Content Control"
# Feature Request 🛍️

Currenlty, the `OOXML Transformer` while converting to `OOXML`, wraps the complete body in a `w:sdt` tag which is locked to prevent editing. This needs to be removed as these contents can be edited.

## Possible Solution

Remove the top level `w:sdt`

[2021-08-09 13:16] K-Kumar-01 commented on #439
@algomaster99
I have created the issue for the wrapper `w:sdt. Let me know if any it is fine.

[2021-08-13 12:55] tbrooke opened #443 "Update of js-dom dependency from 15.2.1 to 16.4.0"
I am trying to use shadow-cljs - a clojurescript compiler for clojurescript javascript interop - It compilesto javascript using  the Google closure compiler

I get an error related to js-dom

[code]
I checked and found that it was in markdown-html where it uses version 15.2.1 I checked and the current version 16.4.0 works with shadow-cljs.

The only place I found js-dom was below:

https://github.

[2021-08-13 16:46] jeromesimeon commented on #422
There _is_ an issue!! @K-Kumar-01

I still see sometimes failing tests in markdown-cli and markdown-transform but the fix in #445 should already help. I'll report when I'm done with the other packages.

[2021-08-13 17:38] #422 closed

[2021-08-13 17:52] jeromesimeon commented on #433
I'm not sure I understand the requirement. What's an identifier in this context? If it's something specifically needed for OOXML, then Dan's suggestion to generate a hash from (ciceromark / the data / something else) makes sense to me.

[2021-08-13 17:54] jeromesimeon commented on #378
Why do you need the regular expression in the slate value? What's the use case?

[2021-08-13 17:57] jeromesimeon commented on #368
Notes on underline:

- From a pure markdown perspective people often use `<u>this will be underlined</u>` directly within the markdown. This most often generate the corresponding `<u></u>` tags in HTML.
- The use of the `<u>...</u>` tag in HTML comes with a warning / sometimes discourage as it can confuse users which often take those for links (most commonly underlined in your browser)
- I've seen

[2021-08-13 17:58] jeromesimeon commented on #362
There is no way to preserve whitespace in markdown.

[2021-08-15 15:59] jeromesimeon opened #448 "pdf transform: bold and italics do not work"
# Bug Report 🐛

Bold and italics are not exported to pdf.

## Steps to Reproduce

Taking the following markdown document:
[code]

And exporting it with:
[code]

Results in the following pdf where italics and bold are absent.

[test.pdf](https://github.com/accordproject/markdown-transform/files/6988446/test.pdf)

[2021-08-15 16:00] jeromesimeon commented on #448
Here is the relevant part of the pdfmake JSON:
[code]

[2021-08-15 17:51] #448 closed

[2021-08-17 11:58] K-Kumar-01 opened #451 "Refactor the transfomer(OOXML<->CiceroMark)"
# Discussion 🗣

Currently, the transformer for converting `OOXML<->CiceroMark` is quite big. The issue aims at dealing with refactoring it to reduce the size keeping the logic intact.

## Context

Things to look at while refactoring:
- [ ] More suitable naming for variables or functions
- [ ] `traverseNodes()`: merge the 4th argument-`parent properties` into the `properties` argument and necessary

[2021-08-18 02:05] jeromesimeon commented on #271
Fixed by #452

[2021-08-18 02:05] #271 closed

[2021-08-18 02:34] jeromesimeon commented on #229
@mttrbrts I'm wondering if the current behavior would be acceptable, based on the above note about commonmark and whether we could close this issue.

I think the problem is somewhat alleviated by the new parser and template mark dingus which can help identify when a `{{clause}}` tag is parsed as text?

[2021-08-18 02:37] jeromesimeon commented on #443
Fixed in #446

[2021-08-18 02:37] #443 closed

[2021-08-18 14:03] #229 closed

[2021-08-19 01:16] jeromesimeon opened #455 "Unicode fonts for pdf transform"
# Discussion 🗣

The transformation stack seems to handle unicode quite well, but in the pdf generation case not all character sets are handled.

## Detailed Description

For the following markdown file:
[code]

The transforms seem to mostly work. For instance here is the HTML version:

[document.txt](https://github.com/accordproject/markdown-transform/files/7011076/document.txt)

which looks like

[2021-08-19 01:30] jeromesimeon commented on #455
This might be a cheap option: https://www.npmjs.com/package/pdfmake-unicode

[2021-08-19 12:17] mttrbrts commented on #455
Adding lots of character-sets can really bloat the module. We should solve this in a way that allows users to choose their own character-sets, if the default are not-sufficient.

[2021-08-19 12:52] jeromesimeon commented on #455
Agreed. I am still looking at font support in pdfmake and pdfkit and how it's been setup in the markdown transform service and API. Maybe we need to do nothing and it's already in place, but I'll leave this open a little longer until I can figure out how to set up fonts.

[2021-08-23 18:57] jeromesimeon opened #458 "Pdf Transform: Generation for nested lists without initial paragraph is broken"
# Bug Report 🐛

Lists where the content of an item is directly another list result in item numbers overlapping in the transformed pdf document.

## Expected Behavior

It should look like the case where there is an initial paragraph followed by a nested list:

<img width="1174" alt="Screen Shot 2021-08-23 at 2 53 54 PM" src="https://user-images.githubusercontent.com/670099/130502341-9c29194b-b288-4

[2021-09-15 01:45] OliverTod commented on #348
@jeromesimeon with all of the work done recently on extensions to TemplateMark, I thought I would re-agitate this issue. Can you put it on your list of possible extensions to see if there is any demand for it?

[2021-09-15 15:17] jeromesimeon commented on #348
Hi @OliverTod,

thanks for the ping. I remember looking at possible extensions and I think this one should be relatively easy. What I’m not so clear about is the usecase for contracts / agreements.

would you have a few examples of usage that would help motivate this extension?

thanks!

[2021-09-16 09:10] OliverTod commented on #348
Here is an example, taken from an agreement I am currently converting:
![image](https://user-images.githubusercontent.com/73812545/133584648-830b1e32-e518-4379-8ca2-1417ac8e8339.png)
You can see that there are admonitions that will make their way into the final agreement and also 'notes' which are used for negotiation/development purposes.

[2021-09-16 09:16] OliverTod commented on #348
Another example from the same agreement:
![image](https://user-images.githubusercontent.com/73812545/133585080-3bc9af25-b486-46f7-9952-19728871ca68.png)

An example from a random Cloud SaaS provider:
![image](https://user-images.githubusercontent.com/73812545/133585273-c25f437b-af01-459a-89d1-a8e9d1075a0e.png)

Another random example, this time from Uber, of American drafting that uses ALL CAPS fo

[2021-10-05 17:09] #345 closed

[2021-10-26 09:19] jeromesimeon opened #470 "Pdf transform: link with formatting do not get properly translated"
# Bug Report 🐛

If a link contains formatted text (e.g., emphasized) it is sometimes not rendered into pdf.

## Expected Behavior

Links should be properly rendered.

## Current Behavior

Links are not always properly rendered.

## Possible Solution

Render the links that are not properly rendered.

## Steps to Reproduce

1. Example CiceroMark:
[code]
2. Convert to pdf: `markus transform --from co

[2021-11-30 21:05] irmerk commented on #434
@K-Kumar-01 does #432 close this Issue, or is this separate?

[2021-11-30 21:10] irmerk commented on #368
Should this be on the schedule for the next WG call @jeromesimeon?

[2021-11-30 21:11] irmerk commented on #362
I'm inclined to think this should be a `Resolution: Wontfix 🙅‍♀️`

[2021-12-01 15:28] K-Kumar-01 commented on #434
@irmerk This is a bit different, there wasn't a firm discussion on styling so I went with the basic one there which Dan approved at the time since we were focused on conversion. This needs some discussion on how we want it to look.

[2021-12-01 17:15] irmerk commented on #434
Pinging @michael-grover on this.

[2021-12-03 15:56] K-Kumar-01 commented on #434
@Michael-Grover
Apologies for the late reply.

Yes a user can see if text is wrapped in content control or not. A border appears around the content wrapped when hovered as shown above.

Not too sure myself. From what I have worked upon, one can try few of the following:
coloring the text, highlighting the text, changing the font, changing the size.
Although these are not good ones as size changes

[2021-12-03 19:14] Michael-Grover commented on #434
@K-Kumar-01 I would suggest looking into popular Word plugins that also differentiate a block of text from the whole document, and see some ways they achieve this. I don't think we should necessarily use styling such as font and size to differentiate clause text, because the author of the document may want their contract to look visually consistent.

[2022-01-30 20:07] aashimawadhwa commented on #405
I am willing to work on this issue . will you please assign it to me .

[2022-02-04 18:32] irmerk commented on #405
Please open a PR when ready for us to start looking at it.

[2022-02-06 18:32] aashimawadhwa commented on #405
@irmerk please review my PR and let me know if i need to make some improvement.

[2022-03-06 14:32] TC5022 commented on #368
@irmerk @jeromesimeon  @dselman  Do we still need the underline functionality? Shall I look into this issue?

[2022-03-09 14:26] dselman commented on #196
@jeromesimeon have you got a link to the markdown table plugin that you mentioned we could use?

[2022-05-04 06:12] martinratinaud opened #501 "`markus --help` leads to `Cannot find module 'mkdirp'` on fresh install on mac"
# Bug Report 🐛

Installing in a nodeJS `v16.13.1` or a `v14.19.1` environment on a Macbook Air M1 with the following command

[code]

And launching

[code]

## Expected Behavior
Help should be displayed

## Current Behavior
command fails with

[code]

## Possible Solution
mkdirp is listed as a dev dependency, maybe it should be a dependency only

## Steps to Reproduce

[code]

## Context (Environm

[2022-05-04 06:48] martinratinaud opened #502 "Whitespace are wrongly decoded when transforming pdf to html"
# Bug Report 🐛

Transform of this specific pdf file https://www.decathlon.fr/static/2019/LP/services/global-services/V21/assets/cgv.pdf leads to text with missing whitespaces.

## Expected Behavior

Launching `markus transform --input cgv.pdf --from pdf --to markdown | head -n 5` should give

[code]

## Current Behavior
It gives the following content with missing whitespace

[code]

## Possible So

[2022-05-10 13:57] dselman commented on #502
This appears to be a limitation in the version of [pdf.js](https://github.com/mozilla/pdf.js/) we are using to convert from PDF to structured text. This PDF file is essentially a set of binary streams, where each stream contains a set of x,z positions for individual characters. I am investigating if we there are some pdf.js configuration options that can provide better results...

[2022-05-10 15:26] #502 closed

[2022-05-10 15:28] dselman commented on #502
Thanks for the report. You should be able to test this using the `unstable` version of `markdown-cli` until the next release is created.

[2022-05-10 15:54] #501 closed

[2022-05-10 18:44] dselman commented on #501
Verified that this works with these commands (installing version 0.15.2):

[code]

[2022-05-11 05:41] martinratinaud commented on #501
Works like a charm, thanks for the quick fix!

[2022-05-16 05:39] martinratinaud commented on #502
Works very well, thank you so much for the fast resolution

[2022-08-08 11:17] martinratinaud opened #508 "Characters `ti` replaced by `(` in pdf"
# Bug Report 🐛

Transform of this specific pdf file https://assets.website-files.com/615dba2b324d4ea51a398f26/622a2175014d39da4f4bf688_2022%2003%2014%20CGU%20Heetch%20France%20CLEAN.pdf leads to weird text transformation.

## Steps to Reproduce

Launch
[code]

## Current Behavior
[code]
It seems `ti` is replaced by `(`

## Expected behaviour

Get as close to possible to
[code]

## Context (Environ

[2022-08-08 12:43] martinratinaud opened #509 "Pdf file transform in markdown leads to almost empty file"
# Bug Report 🐛

Transform of this specific pdf file https://yoojo.fr/jobber-terms-fr.pdf leads to weird text transformation.

## Steps to Reproduce

Launch
[code]

## Current Behavior
[code]
This does not correspond to the content of the file

## Expected behaviour

Get as close to possible to content of file

## Possible solution

Even if I open the file with preview (on Mac), I can't copy the co

[2022-08-08 16:00] dselman commented on #509
That's one strange PDF! In Safari when I open the PDF in the browser and select a paragraph and copy to the clipboard I also get empty text when I paste.

[2022-08-09 04:14] martinratinaud commented on #509
Indeed, I will try to ask them on twitter why this pdf is like this

[2022-08-10 17:19] MattiSG commented on #508
This is because the `ti` is presented as a [ligature](https://en.wikipedia.org/wiki/Ligature_(writing)) in this document. However, this ligature is not part of Unicode’s [Alphabetic Presentation Forms](https://en.wikipedia.org/wiki/Alphabetic_Presentation_Forms) block (range `U+FB0x` for latin scripts), and had been encoded in the document as a `(` character: I can reproduce `markus`' behaviour by

[2022-09-07 04:41] martinratinaud commented on #509
Well I think that this PDF is intended to not be converted to text so I close this.

Thanks again for your support

[2022-09-07 04:41] #509 closed

[2022-10-14 09:28] dselman opened #513 "Cannot load markdown-html in react-native project"
# Bug Report 🐛

There's an issue in package.json when attempting to use the library in an Expo / Metro / React Native project. The library fails to load with the error:

[code]

## Expected Behavior

Should be able to use this library.

## Current Behavior

Library fails to load.

## Possible Solution

Correct package.json. I think it should be `"main" : "markdown-html"`

## Steps to Reproduce
1.

[2022-10-16 15:26] #513 closed

[2022-11-24 07:27] Ayman161803 opened #528 "TemplateMark Dingus does not load markdown transforms"
# Bug Report 🐛

Markdown transforms do not load and the web app crashes into ``runtime regenarator`` issue

## Expected Behavior

Dingus should work as expected by Docs

## Current Behavior

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/76606666/203719431-c4f123be-4f1f-408e-b63a-367ec744266a.png">

## Possible Solution

Update babel bundling

## Steps to Reproduce

1

[2022-11-24 13:33] #528 closed